@using Common.Web
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    var action = ViewContext.RouteData.Values["action"].ToString();
    List<Notification> notifications = (List<Notification>)Session[Notification.Key] ?? new List<Notification>();
    ViewBag.Version = 11;
}

@section HeadSection{
    <link rel="stylesheet" href="~/Areas/lk/Content/css/libs.min.css?v=@ViewBag.Version">
    <link rel="stylesheet" href="~/Areas/lk/Content/css/main.css?v=@ViewBag.Version">
    <script src="~/Areas/lk/Content/js/scripts.min.js?v=@ViewBag.Version"></script>
    <style type="text/css">
        .g-recaptcha > div {
            margin: 0 auto;
        }

        .validation-summary-errors {
            color: red;
            margin: 10px auto;
            text-align: center;
        }
    </style>
}
@if (!User.Identity.IsAuthenticated)
{
    @RenderBody()
}
else
{
    <div class="wrap-content">
        @Html.Partial("_Toolbar")
        <div class="content">
            @RenderBody()
        </div>
    </div>
}


@section FootSection{
    @if (notifications.Count > 0)
    {
        <div class="wrap-modal flex active">
            @foreach (var item in notifications.ToList())
            {
                <div class="modal">
                    @if (item.IsSuccess)
                    {
                        <i class="ion-ios-checkmark modal-icon"></i>
                    }
                    else
                    {
                        <i class="ion-ios-close modal-icon modal-icon-close"></i>
                    }

                    <p class="m-b-30">@Html.Raw(item.Message)</p>
                    <a class="btn btn-bordered btn-sm close-modal-btn">@Resources.Resource.Close</a>
                </div>
                notifications.Remove(item);
            }
        </div>

    }

    <script></script>

    <script src="~/Areas/lk/Content/js/common.js?v=@ViewBag.Version"></script>
}