@model WayWealth.ViewModels.Sign.InView
@using Recaptcha.Web.Mvc;
@{
    ViewBag.Title = Resources.Resource.InHeader;
}

<div class=" white-bg">
    <div class="container">
        <div class="reg-block sign-block">
            <h2 class="section-title">@Resources.Resource.InHeader</h2>
            @using (Html.BeginForm("In", "Sign", FormMethod.Post, new { id = "reg-form" }))
            {
                <div class="wrap-id">
                    <div class="input mauto form-group">
                        @Html.LabelFor(x => x.Login, new { @class = "lbl" })
                        @Html.TextBoxFor(x => x.Login)
                        <p class="error-msg">
                            @Html.ValidationMessageFor(x => x.Login)
                        </p>
                    </div>
                </div>
                <div class="wrap-pass">
                    <div class="input mauto form-group">
                        @Html.LabelFor(x => x.Password, new { @class = "lbl" })
                        @Html.PasswordFor(x => x.Password)
                        <p class="error-msg">@Html.ValidationMessageFor(m => m.Password)</p>
                    </div>
                </div>
                @Html.Recaptcha(useSsl: Recaptcha.Web.SslBehavior.AlwaysUseSsl)
                <div class="wrap-check">
                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.IsPersistent, new { id = "check1" })
                        <span></span>
                        @Resources.Resource.InRememberChkText
                    </label>
                </div>
                <button type="submit" class="btn btn-grad btn-block" form="reg-form">
                    @Resources.Resource.InEntryBtnText
                </button>
                if (!ViewData.ModelState.IsValid)
                {
                    @Html.ValidationSummary(true)
                }
            }
        </div>
        <div class="reg-link-block">
            <a href="@Url.Action("restore", "sign")" class="btn btn-bordered btn-sm">
                @Resources.Resource.RestoreText
            </a>
            <a href="@Url.Action("up", "sign")" class="btn btn-bordered btn-sm">
                @Resources.Resource.SignUpText
            </a>
        </div>
    </div>
</div>