@model WayWealth.ViewModels.Sign.RestoreView
@using Recaptcha.Web.Mvc;
@{
    ViewBag.Title = Resources.Resource.AccessRecovery;
}

<div class="white-bg">
    <div class="container">
        <div class="reg-block sign-block">
            <h2 class="section-title">@Resources.Resource.AccessRecovery</h2>
            @using (Html.BeginForm("Restore", "Sign", FormMethod.Post, new { id = "reg-form" }))
            {
                <div class="wrap-id">
                    <div class="input mauto form-group">
                        @Html.LabelFor(x => x.Login, new { @class = "lbl" })
                        @Html.TextBoxFor(x => x.Login)
                        <p class="error-msg">@Html.ValidationMessageFor(m => m.Login)</p>
                    </div>
                </div>
                <div class="form-group">
                    @Html.Recaptcha()
                </div>
                <button type="submit" class="btn btn-grad btn-block" form="reg-form">
                    @Resources.Resource.Restore
                </button>
                if (!ViewData.ModelState.IsValid)
                {
                    @Html.ValidationSummary(true)
                }
            }
        </div>
        <div class="reg-link-block">
            <a href="@Url.Action("In", "Sign")" class="btn btn-bordered btn-sm">@Resources.Resource.InEntryBtnText</a>
            <a href="@Url.Action("Up", "Sign")" class="btn btn-bordered btn-sm">@Resources.Resource.SignUpText</a>
        </div>
    </div>
</div>