@model WayWealth.ViewModels.Sign.TwoFactorAuthenticateView
@{
    ViewBag.Title = Resources.Resource.GoogleAuthTitle;
}

<div class="reg-block sign-block">
    <p class="page-title">
        @Resources.Resource.GoogleAuthTitle
    </p>

    <div>
        @using (Html.BeginForm("TwoFactorAuthenticate", "Sign", FormMethod.Post, new { id = "confirm-form" }))
        {
        <div align="center">
            <p>
                @Resources.Resource.GoogleAuthEnterCode
            </p>
        </div>
        
        <br />

            <div class="input mauto">
                @Html.LabelFor(x => x.CodeDigit, new { @class = "lbl" })
                @Html.TextBoxFor(x => x.CodeDigit)
                <p class="error-msg">
                    @Html.ValidationMessageFor(x => x.CodeDigit)
                </p>
            </div>

            <button type="submit" class="page-link" form="confirm-form">
                <span data-text="@Resources.Resource.Confirm">@Resources.Resource.Confirm</span>
            </button>
            if (!ViewData.ModelState.IsValid)
            {
                @Html.ValidationSummary(true)
            }
        }

    </div>

</div>