@model WayWealth.ViewModels.Sign.TwoFactorAuthenticateView
@{
    ViewBag.Title = Resources.Resource.GoogleAuthTitle;
}

<div class="white-bg">
    <div class="container">
        <div class="reg-block sign-block two-factor-auth">

            <h2 class="section-title">
                @Resources.Resource.GoogleAuthTitle
            </h2>

            <div>
                @using (Html.BeginForm("TwoFactorAuthenticate", "Sign", FormMethod.Post, new { id = "confirm-form" }))
                {
                    <center>
                        <p>
                            @Resources.Resource.GoogleAuthEnterCode
                        </p>
                    </center>

                    <div class="form-group">
                        @Html.LabelFor(x => x.CodeDigit, new { @class = "lbl" })
                        @Html.TextBoxFor(x => x.CodeDigit)
                        <p class="error-msg">
                            @Html.ValidationMessageFor(x => x.CodeDigit)
                        </p>
                    </div>

                    <button type="submit" class="btn btn-grad btn-block" form="confirm-form">
                        <span data-text="@Resources.Resource.Confirm">@Resources.Resource.Confirm</span>
                    </button>
                    if (!ViewData.ModelState.IsValid)
                    {
                        @Html.ValidationSummary(true)
                    }
                }

            </div>

        </div>
    </div>
</div>