
<div class="toolbar">
    <ul>
        <li>
            <a href="@Url.Action("index", "home", new {area="lk"})">
                <img src="~/Areas/lk/Content/img/toolbar-icon-1.png" alt="">@Resources.Resource.lk_menu_1
            </a>
        </li>
        <li>
            <a href="@Url.Action("invest", "home", new {area="lk"})">
                <img src="~/Areas/lk/Content/img/toolbar-icon-2.png" alt="">@Resources.Resource.lk_menu_2
            </a>
        </li>
        <li>
            <a href="@Url.Action("investments", "home", new {area="lk"})">
                <img src="~/Areas/lk/Content/img/toolbar-icon-3.png" alt="">@Resources.Resource.lk_menu_3
            </a>
        </li>
        <li>
            <a href="@Url.Action("history", "home", new {area="lk"})">
                <img src="~/Areas/lk/Content/img/toolbar-icon-4.png" alt="">@Resources.Resource.lk_menu_4
            </a>
            <ul>
                <li>
                    <a href="@Url.Action("history", "home", new {area="lk"})">
                        <img src="~/Areas/lk/Content/img/toolbar-icon-4-1.png" alt="">@Resources.Resource.lk_menu_5
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("transfer", "home", new {area="lk"})">
                        <img src="~/Areas/lk/Content/img/toolbar-icon-4-2.png" alt="">@Resources.Resource.lk_menu_6
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("withdraw", "home", new {area="lk"})">
                        <img src="~/Areas/lk/Content/img/toolbar-icon-4-3.png" alt="">@Resources.Resource.lk_menu_7
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("replenish", "home", new {area="lk"})">
                        <img src="~/Areas/lk/Content/img/toolbar-icon-4-4.png" alt="">@Resources.Resource.lk_menu_8
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="@Url.Action("partners", "home", new {area="lk"})">
                <img src="~/Areas/lk/Content/img/toolbar-icon-5.png" alt="">@Resources.Resource.lk_menu_9
            </a>
            <ul>
                <li>
                    <a href="@Url.Action("partners", "home", new {area="lk"})">
                        <img src="~/Areas/lk/Content/img/toolbar-icon-5-1.png" alt="">@Resources.Resource.lk_menu_10
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("structure", "home", new {area="lk"})" target="blank">
                        <img src="~/Areas/lk/Content/img/toolbar-icon-5-2.png" alt="">@Resources.Resource.lk_menu_11
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("up", "sign", new {area=""})">
                        <img src="~/Areas/lk/Content/img/toolbar-icon-5-3.png" alt="">@Resources.Resource.lk_menu_12
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="@Url.Action("settings", "home", new {area="lk"})">
                <img src="~/Areas/lk/Content/img/toolbar-icon-6.png" alt="">@Resources.Resource.lk_menu_13
            </a>
            <ul>
                <li>
                    <a href="@Url.Action("TwoFactorAuth", "home", new {area="lk"})">
                        <img src="~/Areas/lk/Content/img/toolbar-icon-5-2.png" alt="">@Resources.Resource.lk_menu_17
                    </a>
                </li>
            </ul>
        </li>
        @*<li>
            <a href="@Url.Action("charity", "home", new {area="lk"})">
                <img src="~/Areas/lk/Content/img/toolbar-icon-7.png" alt="">@Resources.Resource.lk_menu_14
            </a>
        </li>*@
        <li>
            <a href="@Url.Action("promo", "home", new {area="lk"})">
                <img src="~/Areas/lk/Content/img/toolbar-icon-8.png" alt="">@Resources.Resource.lk_menu_15
            </a>
        </li>
    </ul>
</div>