@model WayWealth.Infrastructure.Auth.CustomPrincipal

<a class="signOut" href="@Url.Action("Out", "Sign", new { area=""})">
    @Resources.Resource.menu_out
</a>
<a class="lkName" href="@Url.Action("index", "home", new { area = "lk" })">
    <span>@Resources.Resource.menu_kabinet</span>
    <p>
        @Model.FirstName @(!string.IsNullOrWhiteSpace(Model.LastName) ? Model.LastName.Substring(0, 1) : string.Empty)
        @(!string.IsNullOrWhiteSpace(Model.MiddleName) ? Model.MiddleName.Substring(0, 1) : string.Empty)
    </p>
</a>
