<a href="@Url.Action("in", "sign")" class="signIn">
    <div class="img"></div>
    <span data-text="@Resources.Resource.menu_in">@Resources.Resource.menu_in</span>
</a>
<a href="@Url.Action("up", "sign")" class="signIn signReg">
    <div class="img"></div>
    <span data-text="@Resources.Resource.menu_up">@Resources.Resource.menu_up</span>
</a>
