@model IEnumerable<W2W.ModelKBT.Entities.Partner>
@using WayWealth.Areas.lk.Helpers

<div class="reviews-block">
    <div class="container">
        <h2 class="section-title yellow">
            @Resources.Resource.ReviewsTitle
        </h2>
        <div class="swiper-container light swiper-reviews-m">
            <div class="swiper-pagination"></div>
            <div class="swiper-wrapper">
                @foreach (var rev in Model.OrderByDescending(x => x.CreationDate).Take(3))
                {
                    <div class="swiper-slide">
                        <div>
                            <div class="img">
                                @if (!string.IsNullOrWhiteSpace(rev.Image))
                                {
                                    <img src="@Url.Action("img", "home", new { area = "", id=rev.Image })" alt="">
                                }
                                else
                                {
                                    <img src="~/Content/img/default-dark.jpg" alt="">
                                }
                            </div>
                            <div class="rev-text">
                                <p class="caption">@rev.ObjectName</p>
                                @rev.Review
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="text-center">
            <a href="@Url.Action("reviews", "home")" class="btn btn-grad btn-lg">@Resources.Resource.ReviewAll</a><br>
            <a class="btn btn-bordered light" href="@Url.Action("review", "home", new {area="lk"})">
                <i class="ion ion-ios-add"></i>@Resources.Resource.ReviewAdd
            </a>
        </div>
    </div>
</div>
