@{
    ViewBag.Title = Resources.Resource.HomePage;
}
<div class="banner-block">
    <div class="swiper-container light swiper-banner">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url(/Content/img/banner1-new.jpg);background-image: url(/Content/img/banner1-new.jpg);">
                <div class="container">
                    <div class="info">
                        <p class="title">
                            @Resources.Resource.banner_1_title_1<br />@Resources.Resource.banner_1_title_2
                        </p>
                        <p class="desc">@Resources.Resource.banner_1_desc</p>
                        <a href="@Url.Action("about", "home")" class="btn btn-grad btn-lg">@Resources.Resource.MoreBtn</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="background-image: url(/Content/img/banner2-new.jpg);">
                <div class="container">
                    <div class="info">
                        <p class="title">
                            @Resources.Resource.banner_2_title_1<br />@Resources.Resource.banner_2_title_2
                        </p>
                        <p class="desc">@Resources.Resource.banner_2_desc</p>
                        <a href="@Url.Action("investments", "home")" class="btn btn-grad btn-lg">@Resources.Resource.MoreBtn</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="background-image: url(/Content/img/banner3-new.jpg);">
                <div class="container">
                    <div class="info">
                        <p class="title">
                            @Resources.Resource.banner_3_title_1<br />@Resources.Resource.banner_3_title_2
                        </p>
                        <p class="desc">@Resources.Resource.banner_3_desc</p>
                        <a href="@Url.Action("news", "home")" class="btn btn-grad btn-lg">@Resources.Resource.MoreBtn</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="background-image: url(/Content/img/banner4-new.jpg);">
                <div class="container">
                    <div class="info">
                        <p class="title">
                            @Resources.Resource.banner_4_title_1<br />@Resources.Resource.banner_4_title_2
                        </p>
                        <p class="desc">@Resources.Resource.banner_4_desc</p>
                        <a href="@Url.Action("partnership", "home")" class="btn btn-grad btn-lg">@Resources.Resource.MoreBtn</a>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="swiper-button-next"></button>
        <button type="button" class="swiper-button-prev"></button>
        <div class="swiper-pagination"></div>
    </div>
</div>

<div class="calc-block">
    <div class="container">
        <div class="calc">
            <h2 class="section-title">@Resources.Resource.CalcTitle</h2>
            <div id="calc-content">
                @Html.Action("Calc", "home", new { program = "base" })
            </div>
        </div>
    </div>
</div>

<div class="about-block">
    <div class="container">
        <h2 class="section-title yellow">
            @Resources.Resource.AboutTitle
        </h2>
        <ul>
            <li>
                <div class="img">
                    <img src="~/Content/img/about-block-icon-1.png" />
                </div>
                <h3 class="caption">
                    @Resources.Resource.Experience
                </h3>
                <p class="desc">@Resources.Resource.ExperienceDesc</p>
            </li>
            <li>
                <div class="img">
                    <img src="~/Content/img/about-block-icon-2.png" />
                </div>
                <h3 class="caption">
                    @Resources.Resource.RiskDiversification1 @Resources.Resource.RiskDiversification2
                </h3>
                <p class="desc">@Resources.Resource.RiskDiversificationDesc</p>
            </li>
            <li>
                <div class="img">
                    <img src="~/Content/img/about-block-icon-3.png" />
                </div>
                <h3 class="caption">
                    @Resources.Resource.Benefits
                </h3>
                <p class="desc">@Resources.Resource.BenefitsDesc</p>
            </li>
            <li>
                <div class="img">
                    <img src="~/Content/img/about-block-icon-4.png" />
                </div>
                <h3 class="caption">
                    @Resources.Resource.Opportunities
                </h3>
                <p class="desc">@Resources.Resource.OpportunitiesDesc</p>
            </li>
        </ul>
    </div>
    <a href="@Url.Action("about", "home")" class="btn btn-grad btn-lg">@Resources.Resource.MoreBtn</a>
</div>
@Html.Action("_News", "Home")

@Html.Action("_Reviews", "Home")
<div class="time-block">
    <div class="container">
        <div class="times">
            <div class="band-clock" data-timezone="8">
                <p>New-York</p>
            </div>
            <div class="band-clock" data-timezone="3">
                <p>Moscow</p>
            </div>
            <div class="band-clock" data-timezone="2">
                <p>Berlin</p>
            </div>
            <div class="band-clock" data-timezone="8">
                <p>Hong Kong</p>
            </div>
            <div class="band-clock" data-timezone="9">
                <p>Tokyo</p>
            </div>
            <div class="band-clock" data-timezone="1">
                <p>London</p>
            </div>
        </div>
    </div>
</div>
<div class="m-p-icons">
    <div class="swiper-container swiper-icons-m">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><div><img src="~/Content/img/icons-icon-1.png" alt=""></div></div>
            <div class="swiper-slide"><div><img src="~/Content/img/icons-icon-2.png" alt=""></div></div>
            <div class="swiper-slide"><div><img src="~/Content/img/icons-icon-3.png" alt=""></div></div>
            <div class="swiper-slide"><div><img src="~/Content/img/icons-icon-4.png" alt=""></div></div>
            <div class="swiper-slide"><div><img src="~/Content/img/icons-icon-5.png" alt=""></div></div>
            <div class="swiper-slide"><div><img src="~/Content/img/icons-icon-6.png" alt=""></div></div>
            <div class="swiper-slide"><div><img src="~/Content/img/icons-icon-7.png" alt=""></div></div>
            <div class="swiper-slide"><div><img src="~/Content/img/icons-icon-8.png" alt=""></div></div>
            <div class="swiper-slide"><div><img src="~/Content/img/icons-icon-9.png" alt=""></div></div>
            <div class="swiper-slide"><div><img src="~/Content/img/icons-icon-10.png" alt=""></div></div>
            <div class="swiper-slide"><div><img src="~/Content/img/icons-icon-11.png" alt=""></div></div>
            <div class="swiper-slide"><div><img src="~/Content/img/icons-icon-12.png" alt=""></div></div>
            <div class="swiper-slide"><div><img src="~/Content/img/icons-icon-13.png" alt=""></div></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>