@{
    ViewBag.Title = Resources.Resource.HomePage;
    var culture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
}
<div class="banner-block">
    <div class="swiper-container light swiper-banner">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url(/Content/img/banner1-new.jpg);background-image: url(/Content/img/banner1-new.jpg);">
                <div class="container">
                    <div class="info">
                        <p class="title">
                            @Resources.Resource.banner_1_title_1<br />@Resources.Resource.banner_1_title_2
                        </p>
                        <p class="desc">@Resources.Resource.banner_1_desc</p>
                        <a href="@Url.Action("about", "home")" class="btn btn-grad btn-lg">@Resources.Resource.MoreBtn</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="background-image: url(/Content/img/banner2-new.jpg);">
                <div class="container">
                    <div class="info">
                        <p class="title">
                            @Resources.Resource.banner_2_title_1<br />@Resources.Resource.banner_2_title_2
                        </p>
                        <p class="desc">@Resources.Resource.banner_2_desc</p>
                        <a href="@Url.Action("investments", "home")" class="btn btn-grad btn-lg">@Resources.Resource.MoreBtn</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="background-image: url(/Content/img/banner4-new.jpg);">
                <div class="container">
                    <div class="info">
                        <p class="title">
                            @Resources.Resource.banner_4_title_1<br />@Resources.Resource.banner_4_title_2
                        </p>
                        <p class="desc">@Resources.Resource.banner_4_desc</p>
                        <a href="@Url.Action("partnership", "home")" class="btn btn-grad btn-lg">@Resources.Resource.MoreBtn</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="background-image: url(/Content/img/banner3-new.jpg);">
                <div class="container">
                    <div class="info">
                        <p class="title">
                            @Resources.Resource.banner_3_title_1<br />@Resources.Resource.banner_3_title_2
                        </p>
                        <p class="desc">@Resources.Resource.banner_3_desc</p>
                        <a href="@Url.Action("news", "home")" class="btn btn-grad btn-lg">@Resources.Resource.MoreBtn</a>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="swiper-button-next"></button>
        <button type="button" class="swiper-button-prev"></button>
        <div class="swiper-pagination"></div>
    </div>
</div>

@*<div class="calc-block white-bg">
        <div class="container">
            <div class="calc">
                <h2 class="section-title">@Resources.Resource.CalcTitle</h2>
                <div id="calc-content">
                    @Html.Action("Calc", "home", new { program = "base" })
                </div>
            </div>
        </div>
    </div>*@

<div class="mp-prices white-bg">
    <div class="container">
        @if (culture == "ru-RU")
        {
            <h2 class="section-title">Инвестиционные портфели</h2>
            <div class="swiper-container swiper-invest-packages invest-packages animated">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="invest-package">
                            <div>
                                <p>START</p>
                                <div>
                                    <div class="img-box">
                                        <img src="~/Content/img/package-img-1-1.png" alt="">
                                    </div>
                                    <p>Сумма инвестиции:</p>
                                    <div>100 $</div>
                                    <p>Доходность</p>
                                    <div>0% годовых</div>
                                    <p>Объем бинара</p>
                                    <div>90$</div>
                                </div>
                                <a href="@Url.Action("up", "sign")">Выбрать</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="invest-package">
                            <div>
                                <p>Partner</p>
                                <div>
                                    <div class="img-box">
                                        <img src="~/Content/img/package-img-1-1.png" alt="">
                                    </div>
                                    <p>Сумма инвестиции:</p>
                                    <div>500 $</div>
                                    <p>Доходность</p>
                                    <div>20% годовых</div>
                                    <p>Объем бинара</p>
                                    <div>400$</div>
                                </div>
                                <a href="@Url.Action("up", "sign")">Выбрать</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="invest-package">
                            <div>
                                <p>Invest</p>
                                <div>
                                    <div class="img-box">
                                        <img src="~/Content/img/package-img-1-1.png" alt="">
                                    </div>
                                    <p>Сумма инвестиции:</p>
                                    <div>1 000 $</div>
                                    <p>Доходность</p>
                                    <div>30% годовых</div>
                                    <p>Объем бинара</p>
                                    <div>900$</div>
                                </div>
                                <a href="@Url.Action("up", "sign")">Выбрать</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="invest-package orange">
                            <div>
                                <p>Invest 3</p>
                                <div>
                                    <div class="img-box">
                                        <img src="~/Content/img/package-img-2-1.png" alt="">
                                    </div>
                                    <p>Сумма инвестиции:</p>
                                    <div>3 000 $</div>
                                    <p>Доходность</p>
                                    <div>35% годовых</div>
                                    <p>Объем бинара</p>
                                    <div>2700$</div>
                                </div>
                                <a href="@Url.Action("up", "sign")">Выбрать</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="invest-package orange">
                            <div>
                                <p>Invest 5</p>
                                <div>
                                    <div class="img-box">
                                        <img src="~/Content/img/package-img-2-1.png" alt="">
                                    </div>
                                    <p>Сумма инвестиции:</p>
                                    <div>5 000 $</div>
                                    <p>Доходность</p>
                                    <div>40% годовых</div>
                                    <p>Объем бинара</p>
                                    <div>4500$</div>
                                </div>
                                <a href="@Url.Action("up", "sign")">Выбрать</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="invest-package orange">
                            <div>
                                <p>Invest 7</p>
                                <div>
                                    <div class="img-box">
                                        <img src="~/Content/img/package-img-2-1.png" alt="">
                                    </div>
                                    <p>Сумма инвестиции:</p>
                                    <div>7 000 $</div>
                                    <p>Доходность</p>
                                    <div>45% годовых</div>
                                    <p>Объем бинара</p>
                                    <div>6300$</div>
                                </div>
                                <a href="@Url.Action("up", "sign")">Выбрать</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="invest-package red">
                            <div>
                                <p>Invest 10</p>
                                <div>
                                    <div class="img-box">
                                        <img src="~/Content/img/package-img-3-1.png" alt="">
                                    </div>
                                    @*<span>* При владении портфеля «Invest 10» доступны два дополнительных портфеля: «Invest 15» 15000$ и «Invest 20» 20000$</span>*@
                                    <p>Сумма инвестиции:</p>
                                    <div>10 000 $</div>
                                    <p>Доходность</p>
                                    <div>50% годовых</div>
                                    <p>Объем бинара</p>
                                    <div>9000$</div>
                                </div>
                                <a href="@Url.Action("up", "sign" )">Выбрать</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="invest-package red extra">
                            <div>
                                <p>Invest 15</p>
                                <div>
                                    <div class="img-box">
                                        <img src="~/Content/img/package-img-3-1.png" alt="">
                                    </div>
                                    @*<span>* При владении портфеля «Invest 10» доступны два дополнительных портфеля: «Invest 15» 15000$ и «Invest 20» 20000$</span>*@
                                    <p>Сумма инвестиции:</p>
                                    <div>15 000 $</div>
                                    <p>Доходность</p>
                                    <div>50% годовых</div>
                                    <p>Объем бинара</p>
                                    <div>13500$</div>
                                    <p class="extra">* Доступен владельцам портфеля «INVEST 10»</p>
                                </div>
                                <a href="@Url.Action("up", "sign")">Выбрать</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="invest-package red extra">
                            <div>
                                <p>Invest 20</p>
                                <div>
                                    <div class="img-box">
                                        <img src="~/Content/img/package-img-3-1.png" alt="">
                                    </div>
                                    @*<span>* При владении портфеля «Invest 10» доступны два дополнительных портфеля: «Invest 15» 15000$ и «Invest 20» 20000$</span>*@
                                    <p>Сумма инвестиции:</p>
                                    <div>20 000 $</div>
                                    <p>Доходность</p>
                                    <div>50% годовых</div>
                                    <p>Объем бинара</p>
                                    <div>18000$</div>
                                    <p class="extra">* Доступен владельцам портфеля «INVEST 10»</p>
                                </div>
                                <a href="@Url.Action("up", "sign")">Выбрать</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination swiper-pagination-packages"></div>
            </div>
        }
        else
        {
            <h2 class="section-title">Investment packages</h2>
            <div class="swiper-container swiper-invest-packages invest-packages animated">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="invest-package">
                            <div>
                                <p>START</p>
                                <div>
                                    <div class="img-box">
                                        <img src="~/Content/img/package-img-1-1.png" alt="">
                                    </div>
                                    <p>Investment sum:</p>
                                    <div>100 $</div>
                                    <p>Profitability</p>
                                    <div>0% per annum</div>
                                    <p>Binary volume</p>
                                    <div>90$</div>
                                </div>
                                <a href="@Url.Action("up", "sign")">Select</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="invest-package">
                            <div>
                                <p>Partner</p>
                                <div>
                                    <div class="img-box">
                                        <img src="~/Content/img/package-img-1-1.png" alt="">
                                    </div>
                                    <p>Investment sum:</p>
                                    <div>500 $</div>
                                    <p>Profitability</p>
                                    <div>20% per annum</div>
                                    <p>Binary volume</p>
                                    <div>400$</div>
                                </div>
                                <a href="@Url.Action("up", "sign")">Select</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="invest-package">
                            <div>
                                <p>Invest</p>
                                <div>
                                    <div class="img-box">
                                        <img src="~/Content/img/package-img-1-1.png" alt="">
                                    </div>
                                    <p>Investment sum:</p>
                                    <div>1 000 $</div>
                                    <p>Profitability</p>
                                    <div>30% per annum</div>
                                    <p>Binary volume</p>
                                    <div>900$</div>
                                </div>
                                <a href="@Url.Action("up", "sign")">Select</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="invest-package orange">
                            <div>
                                <p>Invest 3</p>
                                <div>
                                    <div class="img-box">
                                        <img src="~/Content/img/package-img-2-1.png" alt="">
                                    </div>
                                    <p>Investment sum:</p>
                                    <div>3 000 $</div>
                                    <p>Profitability</p>
                                    <div>35% per annum</div>
                                    <p>Binary volume</p>
                                    <div>2700$</div>
                                </div>
                                <a href="@Url.Action("up", "sign")">Select</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="invest-package orange">
                            <div>
                                <p>Invest 5</p>
                                <div>
                                    <div class="img-box">
                                        <img src="~/Content/img/package-img-2-1.png" alt="">
                                    </div>
                                    <p>Investment sum:</p>
                                    <div>5 000 $</div>
                                    <p>Profitability</p>
                                    <div>40% per annum</div>
                                    <p>Binary volume</p>
                                    <div>4500$</div>
                                </div>
                                <a href="@Url.Action("up", "sign")">Select</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="invest-package orange">
                            <div>
                                <p>Invest 7</p>
                                <div>
                                    <div class="img-box">
                                        <img src="~/Content/img/package-img-2-1.png" alt="">
                                    </div>
                                    <p>Investment sum:</p>
                                    <div>7 000 $</div>
                                    <p>Profitability</p>
                                    <div>45% per annum</div>
                                    <p>Binary volume</p>
                                    <div>6300$</div>
                                </div>
                                <a href="@Url.Action("up", "sign")">Select</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="invest-package red">
                            <div>
                                <p>Invest 10</p>
                                <div>
                                    <div class="img-box">
                                        <img src="~/Content/img/package-img-3-1.png" alt="">
                                    </div>
                                    @*<span>* While owning the «Invest 10» package, two additional packages are available: «Invest 15» 15000$ and «Invest 20» 20000$</span>*@
                                    <p>Investment sum:</p>
                                    <div>10 000 $</div>
                                    <p>Profitability</p>
                                    <div>50% per annum</div>
                                    <p>Binary volume</p>
                                    <div>9000$</div>
                                </div>
                                <a href="@Url.Action(" up", "sign" )">Select</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="invest-package red extra">
                            <div>
                                <p>Invest 15</p>
                                <div>
                                    <div class="img-box">
                                        <img src="~/Content/img/package-img-3-1.png" alt="">
                                    </div>
                                    @*<span>* While owning the «Invest 10» package, two additional packages are available: «Invest 15» 15000$ and «Invest 20» 20000$</span>*@
                                    <p>Investment sum:</p>
                                    <div>15 000 $</div>
                                    <p>Profitability</p>
                                    <div>50% per annum</div>
                                    <p>Binary volume</p>
                                    <div>13500$</div>
                                    <p class="extra">* Available when owning «Invest 10» package</p>
                                </div>
                                <a href="@Url.Action("up", "sign")">Select</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="invest-package red extra">
                            <div>
                                <p>Invest 20</p>
                                <div>
                                    <div class="img-box">
                                        <img src="~/Content/img/package-img-3-1.png" alt="">
                                    </div>
                                    @*<span>* While owning the «Invest 10» package, two additional packages are available: «Invest 15» 15000$ and «Invest 20» 20000$</span>*@
                                    <p>Investment sum:</p>
                                    <div>20 000 $</div>
                                    <p>Profitability</p>
                                    <div>50% per annum</div>
                                    <p>Binary volume</p>
                                    <div>18000$</div>
                                    <p class="extra">* Available when owning «Invest 10» package</p>
                                </div>
                                <a href="@Url.Action("up", "sign")">Select</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination swiper-pagination-packages"></div>
            </div>
        }
    </div>
</div>

<div class="about-block">
    <div class="container">
        <h2 class="section-title yellow">
            @Resources.Resource.AboutTitle
        </h2>
        <ul>
            <li>
                <div class="img">
                    <img src="~/Content/img/about-block-icon-1.png" />
                </div>
                <h3 class="caption">
                    @Resources.Resource.Experience
                </h3>
                <p class="desc">@Resources.Resource.ExperienceDesc</p>
            </li>
            <li>
                <div class="img">
                    <img src="~/Content/img/about-block-icon-2.png" />
                </div>
                <h3 class="caption">
                    @Resources.Resource.RiskDiversification1 @Resources.Resource.RiskDiversification2
                </h3>
                <p class="desc">@Resources.Resource.RiskDiversificationDesc</p>
            </li>
            <li>
                <div class="img">
                    <img src="~/Content/img/about-block-icon-3.png" />
                </div>
                <h3 class="caption">
                    @Resources.Resource.Benefits
                </h3>
                <p class="desc">@Resources.Resource.BenefitsDesc</p>
            </li>
            <li>
                <div class="img">
                    <img src="~/Content/img/about-block-icon-4.png" />
                </div>
                <h3 class="caption">
                    @Resources.Resource.Opportunities
                </h3>
                <p class="desc">@Resources.Resource.OpportunitiesDesc</p>
            </li>
        </ul>
    </div>
    <a href="@Url.Action("about", "home")" class="btn btn-grad btn-lg">@Resources.Resource.MoreBtn</a>
</div>

<div class="white-bg">
    @Html.Action("_News", "Home")
    <div class="time-block">
        <div class="container">
            <div class="times">
                <div class="time-block-clock" data-timezone="8">
                    <div class="label">New-York</div>
                    <div class="hourhand"></div>
                    <div class="minutehand"></div>
                    <div class="secondhand"></div>
                    <div class="hour12"></div>
                    <div class="hour1"></div>
                    <div class="hour2"></div>
                    <div class="hour3"></div>
                    <div class="hour4"></div>
                    <div class="hour5"></div>
                </div>
                <div class="time-block-clock" data-timezone="3">
                    <div class="label">Moscow</div>
                    <div class="hourhand"></div>
                    <div class="minutehand"></div>
                    <div class="secondhand"></div>
                    <div class="hour12"></div>
                    <div class="hour1"></div>
                    <div class="hour2"></div>
                    <div class="hour3"></div>
                    <div class="hour4"></div>
                    <div class="hour5"></div>
                </div>
                <div class="time-block-clock" data-timezone="2">
                    <div class="label">Berlin</div>
                    <div class="hourhand"></div>
                    <div class="minutehand"></div>
                    <div class="secondhand"></div>
                    <div class="hour12"></div>
                    <div class="hour1"></div>
                    <div class="hour2"></div>
                    <div class="hour3"></div>
                    <div class="hour4"></div>
                    <div class="hour5"></div>
                </div>
                <div class="time-block-clock" data-timezone="8">
                    <div class="label">Hong Kong</div>
                    <div class="hourhand"></div>
                    <div class="minutehand"></div>
                    <div class="secondhand"></div>
                    <div class="hour12"></div>
                    <div class="hour1"></div>
                    <div class="hour2"></div>
                    <div class="hour3"></div>
                    <div class="hour4"></div>
                    <div class="hour5"></div>
                </div>
                <div class="time-block-clock" data-timezone="9">
                    <div class="label">Tokyo</div>
                    <div class="hourhand"></div>
                    <div class="minutehand"></div>
                    <div class="secondhand"></div>
                    <div class="hour12"></div>
                    <div class="hour1"></div>
                    <div class="hour2"></div>
                    <div class="hour3"></div>
                    <div class="hour4"></div>
                    <div class="hour5"></div>
                </div>
                <div class="time-block-clock" data-timezone="1">
                    <div class="label">London</div>
                    <div class="hourhand"></div>
                    <div class="minutehand"></div>
                    <div class="secondhand"></div>
                    <div class="hour12"></div>
                    <div class="hour1"></div>
                    <div class="hour2"></div>
                    <div class="hour3"></div>
                    <div class="hour4"></div>
                    <div class="hour5"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@*@Html.Action("_Reviews", "Home")
    <div class="time-block">
        <div class="container">
            <div class="times">
                <div class="band-clock" data-timezone="8">
                    <p>New-York</p>
                </div>
                <div class="band-clock" data-timezone="3">
                    <p>Moscow</p>
                </div>
                <div class="band-clock" data-timezone="2">
                    <p>Berlin</p>
                </div>
                <div class="band-clock" data-timezone="8">
                    <p>Hong Kong</p>
                </div>
                <div class="band-clock" data-timezone="9">
                    <p>Tokyo</p>
                </div>
                <div class="band-clock" data-timezone="1">
                    <p>London</p>
                </div>
            </div>
        </div>
    </div>*@

<div class="m-p-icons">
    <div class="swiper-container swiper-icons-m">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><div><img src="~/Content/img/icons-icon-1.png" alt=""></div></div>
            <div class="swiper-slide"><div><img src="~/Content/img/icons-icon-2.png" alt=""></div></div>
            <div class="swiper-slide"><div><img src="~/Content/img/icons-icon-3.png" alt=""></div></div>
            <div class="swiper-slide"><div><img src="~/Content/img/icons-icon-4.png" alt=""></div></div>
            <div class="swiper-slide"><div><img src="~/Content/img/icons-icon-5.png" alt=""></div></div>
            <div class="swiper-slide"><div><img src="~/Content/img/icons-icon-6.png" alt=""></div></div>
            <div class="swiper-slide"><div><img src="~/Content/img/icons-icon-7.png" alt=""></div></div>
            <div class="swiper-slide"><div><img src="~/Content/img/icons-icon-8.png" alt=""></div></div>
            <div class="swiper-slide"><div><img src="~/Content/img/icons-icon-9.png" alt=""></div></div>
            <div class="swiper-slide"><div><img src="~/Content/img/icons-icon-10.png" alt=""></div></div>
            <div class="swiper-slide"><div><img src="~/Content/img/icons-icon-11.png" alt=""></div></div>
            <div class="swiper-slide"><div><img src="~/Content/img/icons-icon-12.png" alt=""></div></div>
            <div class="swiper-slide"><div><img src="~/Content/img/icons-icon-13.png" alt=""></div></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>