@{
    ViewBag.Title = "Инвестиции";
}

<div class="invest-page">
    <div class="inner-page-top" style="background-image: url(/Content/img/inner-page-top-investments.jpg)">
        <div class="container">
            <h2>Инвестиции</h2>
        </div>
    </div>
    <div class="bread">
        <div class="container">
            <a href="/">Главная</a>
            <i>/</i>
            <span>Инвестиции</span>
        </div>
    </div>
    <div class="about-block-1 white-bg">
        <div class="container">
            <p>
                <i class="ion-ios-information"></i>
                Отличительной особенностью криптовалютного рынка является его высокая волатильность. Даже самые стабильные и надежные монеты могут изменяться в цене на 15-30% в неделю, поэтому в таких условиях правильнее и безусловно выгоднее формировать инвестиционный
                портфель из разных активов и инструментов.
            </p>
            <p>
                Благодаря сбалансированному портфелю Платформа Way to Wealth создает стабильную доходность своим Партнерам.
            </p>
        </div>
    </div>
    <div class="invest-block-2 invest-block">
        <div class="container">
            <h3 class="section-title yellow">Стратегии Инвестирования</h3>
            <div class="flex">
                <div class="chart-wrap">
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
                <div>
                    <ul class="tabs-btns">
                        <li>Активное управление</li>
                        <li>Пассивное управление</li>
                        <li>Резервный фонд</li>
                    </ul>
                    <ul class="tabs">
                        <li>
                            <h4>Активное управление</h4>
                            <ul>
                                <li>
                                    Скальпинг
                                </li>
                                <li>
                                    Интрадей
                                </li>
                                <li>
                                    Стратегический арбитраж
                                </li>
                                <li>
                                    Фьючерсы на золото
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <h4>Пассивное управление</h4>
                            <ul>
                                <li>
                                    Pre ICO и SAFT
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h4>Резервный фонд</h4>
                            <ul>
                                <li>
                                    Формирование резервного фонда с целью достижения размера равному сумме привлеченных инвестиций своих Партнеров и обеспечение гарантийного обязательства по принятым в управление активам. Источник пополнения - чистая прибыль Платформы
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @*<div class="invest-block-3 invest-block white-bg">
            <div class="container">
                <h3 class="section-title">Что нужно, чтобы начать получать инвестиционный доход</h3>
                <ul>
                    <li>
                        <i>1</i>
                        <div class="img-box">
                            <img src="~/Content/img/invest-icon-1-1.png" alt="">
                        </div>
                        <p>Регистрация на сайте платформы Way To Wealth</p>
                    </li>
                    <li>
                        <i>2</i>
                        <div class="img-box">
                            <img src="~/Content/img/invest-icon-2-1.png" alt="">
                        </div>
                        <p>Выбор подходящего тарифного плана</p>
                    </li>

                    <li>
                        <i>3</i>
                        <div class="img-box">
                            <img src="~/Content/img/invest-icon-3-1.png" alt="">
                        </div>
                        <p>Формирование инвестиции</p>
                    </li>
                    <li>
                        <i>4</i>
                        <div class="img-box">
                            <img src="~/Content/img/invest-icon-4-1.png" alt="">
                        </div>
                        <p>Получение стабильных фиксированных выплат</p>
                    </li>
                    <li>
                        <i>5</i>
                        <div class="img-box">
                            <img src="~/Content/img/invest-icon-5-1.png" alt="">
                        </div>
                        <p>Формирование уверенности в будущем</p>
                    </li>
                </ul>
            </div>
        </div>*@
    <div class="white-bg">
        <div class="about-page">
            <div class="about-block-3">
                <div class="container">
                    <h3 class="section-title">Что нужно, чтобы начать получать инвестиционный доход</h3>
                    <ul>
                        <li>
                            <i><img src="~/Content/img/invest-icon-1-2.png" alt="" /></i>
                            <p>
                                Регистрация на сайте платформы Way To Wealth
                            </p>
                        </li>
                        <li>
                            <i><img src="~/Content/img/invest-icon-2-2.png" alt="" /></i>
                            <p>
                                Выбор подходящего тарифного плана
                            </p>
                        </li>
                        <li>
                            <i><img src="~/Content/img/invest-icon-3-2.png" alt="" /></i>
                            <p>
                                Формирование инвестиции
                            </p>
                        </li>
                        <li>
                            <i><img src="~/Content/img/invest-icon-4-2.png" alt="" /></i>
                            <p>
                                Получение стабильных фиксированных выплат
                            </p>
                        </li>
                        <li>
                            <i><img src="~/Content/img/invest-icon-5-2.png" alt="" /></i>
                            <p>
                                Формирование уверенности в будущем
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="invest-block-4 invest-block">
            <div class="container">
                <h3 class="section-title">Инвестиционные пакеты</h3>
                <div class="swiper-container swiper-invest-packages invest-packages">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="invest-package">
                                <div>
                                    <p>START</p>
                                    <div>
                                        <div class="img-box">
                                            <img src="~/Content/img/package-img-1.png" alt="">
                                        </div>
                                        <p>Сумма инвестиции:</p>
                                        <div>100 $</div>
                                        <p>Доходность</p>
                                        <div>0% годовых</div>
                                    </div>
                                    <a href="@Url.Action("up", "sign")">Выбрать</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="invest-package">
                                <div>
                                    <p>Partner</p>
                                    <div>
                                        <div class="img-box">
                                            <img src="~/Content/img/package-img-1.png" alt="">
                                        </div>
                                        <p>Сумма инвестиции:</p>
                                        <div>500 $</div>
                                        <p>Доходность</p>
                                        <div>20% годовых</div>
                                    </div>
                                    <a href="@Url.Action("up", "sign")">Выбрать</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="invest-package">
                                <div>
                                    <p>Invest</p>
                                    <div>
                                        <div class="img-box">
                                            <img src="~/Content/img/package-img-1.png" alt="">
                                        </div>
                                        <p>Сумма инвестиции:</p>
                                        <div>1 000 $</div>
                                        <p>Доходность</p>
                                        <div>30% годовых</div>
                                    </div>
                                    <a href="@Url.Action("up", "sign")">Выбрать</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="invest-package orange">
                                <div>
                                    <p>Invest 3</p>
                                    <div>
                                        <div class="img-box">
                                            <img src="~/Content/img/package-img-2.png" alt="">
                                        </div>
                                        <p>Сумма инвестиции:</p>
                                        <div>3 000 $</div>
                                        <p>Доходность</p>
                                        <div>35% годовых</div>
                                    </div>
                                    <a href="@Url.Action("up", "sign")">Выбрать</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="invest-package orange">
                                <div>
                                    <p>Invest 5</p>
                                    <div>
                                        <div class="img-box">
                                            <img src="~/Content/img/package-img-2.png" alt="">
                                        </div>
                                        <p>Сумма инвестиции:</p>
                                        <div>5 000 $</div>
                                        <p>Доходность</p>
                                        <div>40% годовых</div>
                                    </div>
                                    <a href="@Url.Action("up", "sign")">Выбрать</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="invest-package orange">
                                <div>
                                    <p>Invest 7</p>
                                    <div>
                                        <div class="img-box">
                                            <img src="~/Content/img/package-img-2.png" alt="">
                                        </div>
                                        <p>Сумма инвестиции:</p>
                                        <div>7 000 $</div>
                                        <p>Доходность</p>
                                        <div>45% годовых</div>
                                    </div>
                                    <a href="@Url.Action("up", "sign")">Выбрать</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="invest-package red">
                                <div>
                                    <p>Invest 10</p>
                                    <div>
                                        @*<div class="img-box">
                                            <img src="~/Content/img/package-img-3.png" alt="">
                                        </div>*@
                                        <span>* При владении портфеля «Invest 10» доступны два дополнительных портфеля: «Invest 15» 15000$ и «Invest 20» 20000$</span>
                                        <p>Сумма инвестиции:</p>
                                        <div>10 000 $</div>
                                        <p>Доходность</p>
                                        <div>50% годовых</div>
                                    </div>
                                    <a href="@Url.Action("up", "sign")">Выбрать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination swiper-pagination-packages"></div>
                </div>
            </div>
        </div>
    </div>
    
    
    @*<div class="invest-block-calc white-bg">
        <div class="calc-block">
            <div class="container">
                <div class="calc">
                    <h2 class="section-title">@Resources.Resource.CalcTitle</h2>
                    <div id="calc-content">
                        @Html.Action("Calc", "home", new { program = "base" })
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <div class="invest-block-5 invest-block">
        <div class="container">
            <h3 class="section-title yellow">Преимущества</h3>
            <ul>
                <li>
                    <i class="ion-ios-calendar"></i>
                    Ежедневные начисления на инвестиционные пакеты
                </li>
                <li>
                    <i class="ion-ios-cash"></i>
                    Возможность еженедельного вывода начисленных дивидендов
                </li>
                <li>
                    <i class="ion-ios-repeat"></i>
                    Легкость перехода на тарифный план с более выгодными условиями, при увеличении инвестиций
                </li>
                <li>
                    <i class="ion-ios-person-add"></i>
                    Возможность стать Партнером платформы, не имея достаточно средств для покупки инвестиционного пакета
                </li>
                <li>
                    <i class="ion-ios-git-network"></i>
                    Возможность заработка с инвестиций, которые были сделаны по Вашей или Ваших Партнеров рекомендаций.
                </li>
            </ul>
        </div>
    </div>
    <div class="invest-block-6 invest-block white-bg">
        <div class="container">
            <h3 class="section-title">О блокчейне</h3>
            <img src="~/Content/img/blockchain-new.png" alt="">
            <div class="text">
                <p>
                    <b>Блокчейн</b> — это современная технология записи и хранения информации, работающая по принципу распределенной базы данных: информация копируется и хранится не на централизованном сервере, а на многомиллионных компьютерах пользователей,
                    входящих в систему блокчейна. Эта технология ыла создана в 2009 году, вместе с криптовалютой биткоин. Ее создателем принято считать Сатоши Накамото, раскрыть личность которого до сих пор никому не удалось. Блокчейн общедоступен
                    и одновременно защищен. Это обеспечивается благодаря:
                </p>
                <ul>
                    <li>
                        Использованию сложных алгоритмов;
                    </li>
                    <li>
                        Применению особых криптографических методов;
                    </li>
                    <li>
                        Работе тысяч компьютеров, включенных в майнинг, среди которых и распределяется весь объем данных.
                    </li>
                </ul>
                <b>Блокчейн</b> — сеть проводит регулярный самостоятельный аудит и обеспечивает высшую степень учета и идентификации. Каждая происходящая транзакция согласовывается с некоторым временным интвервалом. Все данные являются публичными.
                Сейчас блокчейн, в основном, используется для переводов криптовалют. Технология обеспечивает полную прозрачность и высокую скорость транзакций. Весь процесс перевода занимает считанные минуты и стоит в десятки раз дешевле банковского.
                Если вы храните деньги и информацию в блокчейне, записи никогда не будут утеряны или подделаны.
            </div>
        </div>
    </div>
    <div class="invest-block-7 invest-block">
        <div class="container">
            <h3 class="section-title yellow">О криптовалютах</h3>
            <div class="swiper-container swiper-invest">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/crypto-1.jpg" alt="">
                        </div>
                        <div class="info">
                            Криптовалютой называют особую разновидность электронного платежного средства. Строго говоря, это математический код. Называется она так из-за того, что при обращении этих цифровых денег используются криптографические элементы, а именно электронная подпись.
                            Единицей измерения в этой системе считаются «коины» (буквально – «монеты»). Криптовалюта не имеет никакого реального выражения типа металлических монет или бумажных банкнот. Эти деньги существуют исключительно в цифровом виде.
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/crypto-2.jpg" alt="">
                        </div>
                        <div class="info">
                            Принципиальной чертой, отличающей криптоденьги от настоящих, является способ их возникновения в цифровом пространстве. Так, реальные платежные средства требуется вначале внести на определенный счет или электронный кошелек, а криптовалютные единицы появляются уже в электронном виде изначально.
                            «Выпуск» цифровых денег происходит различными способами: это и ICO (первичное размещение монет, система инвестирования), и майнинг (поддержание специальной платформы для создания новых криптоденег), и форжинг (образование новых блоков в уже имеющихся криптовалютах). То есть криптовалюта возникает буквально «из интернета».
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/crypto-3.jpg" alt="">
                        </div>
                        <div class="info">
                            Другое важное отличие от обычной валюты состоит в децентрализации выпуска. Выпуск электронной валюты представляет собой генерирование математического кода с последующей электронной подписью. Эмитировать реальные деньги вправе исключительно Центробанк, а вот выпускать криптоденьги – любой человек. Для того чтобы совершать операции при помощи криптовалюты, не нужно контактировать ни с какими сторонними организациями (банками).
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/crypto-4.jpg" alt="">
                        </div>
                        <div class="info">
                            Платежи при помощи цифровых денег осуществляются ровно так же, как и обычные электронные переводы по системе безналичного расчета. Исключение составляют разве что биржи, посредством которых криптоденьги можно монетизировать, то есть перевести в обычные платежные средства. Обращение такой валюты происходит по системе «блок-чейна». Эта система представляет собой распределенную по миллионам персональных компьютеров во всем мире базу данных. При этом хранение и запись информации при обращении криптоденег происходит на всех устройствах сразу, что гарантирует абсолютную прозрачность и открытость производимых транзакций.
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/crypto-5.jpg" alt="">
                        </div>
                        <div class="info">
                            Популярность криптовалюты обусловлена требованиями времени. В век повсеместного распространения информационных технологий чрезвычайно востребованы универсальные платежные средства, которыми можно было бы рассчитываться в электронном пространстве без привязки к определенной стране или учреждению. Таким средством и стала криптовалюта. Для расчетов виртуальными деньгами используется только их номер, поэтому криптовалюта и не нуждается в реальном выражении. Цифровые платежные средства защищены криптографическим кодом, что делает их более надежными в сравнении с «настоящими» деньгами. А вследствие абсолютной децентрализации эмиссии виртуальных монет, их нельзя ни подделать, ни запретить.
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/crypto-6.jpg" alt="">
                        </div>
                        <div class="info">
                            А также привлекательность криптовалюты состоит в том, что ее можно получить самостоятельно. То есть цифровую валюту можно достать практически «из воздуха». А ведь на покупке и продаже, а также инвестировании криптовалюты можно еще и зарабатывать деньги. При этом криптоденьги могут быть обменены на традиционные денежные средства, вследствие чего они способны приносить вполне осязаемый доход.
                            Другой чертой, способствующей популяризации крипторасчетов, является анонимность. При проведении транзакций никто не получит никаких сведений о плательщике или получателе, из всех данных будет использоваться только номер электронного кошелька.
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination swiper-pagination-invest"></div>
        </div>
    </div>
</div>

<script src="~/Content/js/Chart.min.js"></script>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Активное управление 55%', 'Пассивное управление 35%', 'Резервный фонд 10%'],
            datasets: [{
                data: [55, 35, 10],
                backgroundColor: [
                    '#2d8926',
                    '#f0a900',
                    '#1775c5'
                ],
                borderColor: [
                    'rgba(255, 255, 255, 0.2)',
                    'rgba(255, 255, 255, 0.2)',
                    'rgba(255, 255, 255, 0.2)'
                ],
                hoverBorderColor: [
                    'rgba(255, 255, 255, 0.3)',
                    'rgba(255, 255, 255, 0.3)',
                    'rgba(255, 255, 255, 0.3)'
                ],
                borderWidth: 3,
                hoverBorderWidth: 6,
                borderAlign: 'inner'
            }]
        },
        options: {
            rotation: -1.6 * Math.PI,
            cutoutPercentage: 85,
            legend: {
                display: false
            },
            tooltips: {
                callbacks: {
                    label: function (tooltipItem, data) {
                        return data.labels[tooltipItem.index];
                    }
                }
            },
            hover: {
                onHover: function (e) {
                    var point = this.getElementAtEvent(e);
                    if (point.length) e.target.style.cursor = 'pointer';
                    else e.target.style.cursor = 'default';
                }
            },
            'onClick': function (evt, item) {
                $('.tabs li').removeClass('active');
                $('.tabs').children('li').eq(item[0]._index).addClass('active');
            }
        }
    });
    $('.tabs-btns li').click(function () {
        $('.tabs li').removeClass('active');
        $('.tabs').children('li').eq($(this).index()).addClass('active');
    });
</script>