@{
    ViewBag.Title = "Investments";
}

<div class="invest-page">
    <div class="inner-page-top" style="background-image: url(/Content/img/inner-page-top-investments.jpg)">
        <div class="container">
            <h2>Investments</h2>
        </div>
    </div>
    <div class="bread">
        <div class="container">
            <a href="/">Home page</a>
            <i>/</i>
            <span>Investments</span>
        </div>
    </div>
    <div class="about-block-1 white-bg">
        <div class="container">
            <p class="animated">
                <i class="ion-ios-information"></i>
                Distinctive feature of the cryptoforeign exchange market is its high volatility. Even the stablest and reliable coins can change in the price for 15-30% a week. Therefore, in such conditions it is more correct and unconditionally to form the investment portfolio of different assets and tools more favorably.
            </p>
            <p class="animated">
                Thanks to the balanced portfolio Way to wealth Platform creates stable profitability for its partners.
            </p>
        </div>
    </div>
    <div class="invest-block-2 invest-block">
        <div class="container">
            <h3 class="section-title yellow">Strategy of investment</h3>
            <div class="flex">
                <div class="chart-wrap animated">
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
                <div class="animated" style="transition-delay:0.3s;">
                    <ul class="tabs-btns">
                        <li>Active management</li>
                        <li>Passive management</li>
                        <li>Reserve fund</li>
                    </ul>
                    <ul class="tabs">
                        <li class="active">
                            <h4>Active management</h4>
                            <ul>
                                <li>
                                    Skalping
                                </li>
                                <li>
                                    Intradey
                                </li>
                                <li>
                                    Strategic arbitration
                                </li>
                                <li>
                                    Gold futures
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h4>Passive management</h4>
                            <ul>
                                <li>
                                    Weekly restructuring of a portfolio from TOP-30 on capitalization of cryptocurrencies
                                </li>
                                <li>
                                    Investments in cryptocurrencies with the minimum cost which can grow in price to the price in the near future
                                </li>
                                <li>
                                    Pre ICO and SAFT
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h4>Reserve fund</h4>
                            <ul>
                                <li>
                                    Formation of reserve fund for the purpose of achievement of the size equal to the sum of the involved investments of the Partners and providing the guarantee certificate on the assets admitted to management. A replenishment source - the net profit of the Platform
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @*<div class="invest-block-3 invest-block white-bg">
            <div class="container">
                <h3 class="section-title">What is necessary to begin to gain investment income</h3>
                <ul>
                    <li>
                        <i>1</i>
                        <div class="img-box">
                            <img src="~/Content/img/invest-icon-1-1.png" alt="">
                        </div>
                        <p>Registration on the Way to Wealth platform website</p>
                    </li>
                    <li>
                        <i>2</i>
                        <div class="img-box">
                            <img src="~/Content/img/invest-icon-2-1.png" alt="">
                        </div>
                        <p>Choice of a suitable tariff plan</p>
                    </li>

                    <li>
                        <i>3</i>
                        <div class="img-box">
                            <img src="~/Content/img/invest-icon-3-1.png" alt="">
                        </div>
                        <p>Investment formation</p>
                    </li>
                    <li>
                        <i>4</i>
                        <div class="img-box">
                            <img src="~/Content/img/invest-icon-4-1.png" alt="">
                        </div>
                        <p>Receiving the stable fixed payouts</p>
                    </li>
                    <li>
                        <i>5</i>
                        <div class="img-box">
                            <img src="~/Content/img/invest-icon-5-1.png" alt="">
                        </div>
                        <p>Formation of confidence in the future</p>
                    </li>
                </ul>
            </div>
        </div>*@
    <div class="white-bg">
        <div class="about-page">
            <div class="about-block-3">
                <div class="container">
                    <h3 class="section-title">What is necessary to begin to gain investment income</h3>
                    <ul>
                        <li class="animated animated-2">
                            <i><img src="~/Content/img/invest-icon-1-2.png" alt="" /></i>
                            <p>
                                Registration on the Way to Wealth platform website
                            </p>
                        </li>
                        <li class="animated animated-2" style="transition-delay:0.3s;">
                            <i><img src="~/Content/img/invest-icon-2-2.png" alt="" /></i>
                            <p>
                                Choice of a suitable tariff plan
                            </p>
                        </li>
                        <li class="animated animated-2" style="transition-delay:0.6s;">
                            <i><img src="~/Content/img/invest-icon-3-2.png" alt="" /></i>
                            <p>
                                Investment formation
                            </p>
                        </li>
                        <li class="animated animated-2" style="transition-delay:0.9s;">
                            <i><img src="~/Content/img/invest-icon-4-2.png" alt="" /></i>
                            <p>
                                Receiving the stable fixed payouts
                            </p>
                        </li>
                        <li class="animated animated-2" style="transition-delay:1.2s;">
                            <i><img src="~/Content/img/invest-icon-5-2.png" alt="" /></i>
                            <p>
                                Formation of confidence in the future
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="invest-block-4 invest-block">
            <div class="container">
                <h3 class="section-title">Investment packages</h3>
                <div class="swiper-container swiper-invest-packages invest-packages animated">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="invest-package">
                                <div>
                                    <p>START</p>
                                    <div>
                                        <div class="img-box">
                                            <img src="~/Content/img/package-img-1-1.png" alt="">
                                        </div>
                                        <p>Investment sum:</p>
                                        <div>100 $</div>
                                        <p>Profitability</p>
                                        <div>0% per annum</div>
                                        <p>Binary volume</p>
                                        <div>90$</div>
                                    </div>
                                    <a href="@Url.Action("up", "sign")">Select</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="invest-package">
                                <div>
                                    <p>Partner</p>
                                    <div>
                                        <div class="img-box">
                                            <img src="~/Content/img/package-img-1-1.png" alt="">
                                        </div>
                                        <p>Investment sum:</p>
                                        <div>500 $</div>
                                        <p>Profitability</p>
                                        <div>20% per annum</div>
                                        <p>Binary volume</p>
                                        <div>400$</div>
                                    </div>
                                    <a href="@Url.Action("up", "sign")">Select</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="invest-package">
                                <div>
                                    <p>Invest</p>
                                    <div>
                                        <div class="img-box">
                                            <img src="~/Content/img/package-img-1-1.png" alt="">
                                        </div>
                                        <p>Investment sum:</p>
                                        <div>1 000 $</div>
                                        <p>Profitability</p>
                                        <div>30% per annum</div>
                                        <p>Binary volume</p>
                                        <div>900$</div>
                                    </div>
                                    <a href="@Url.Action("up", "sign")">Select</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="invest-package orange">
                                <div>
                                    <p>Invest 3</p>
                                    <div>
                                        <div class="img-box">
                                            <img src="~/Content/img/package-img-2-1.png" alt="">
                                        </div>
                                        <p>Investment sum:</p>
                                        <div>3 000 $</div>
                                        <p>Profitability</p>
                                        <div>35% per annum</div>
                                        <p>Binary volume</p>
                                        <div>2700$</div>
                                    </div>
                                    <a href="@Url.Action("up", "sign")">Select</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="invest-package orange">
                                <div>
                                    <p>Invest 5</p>
                                    <div>
                                        <div class="img-box">
                                            <img src="~/Content/img/package-img-2-1.png" alt="">
                                        </div>
                                        <p>Investment sum:</p>
                                        <div>5 000 $</div>
                                        <p>Profitability</p>
                                        <div>40% per annum</div>
                                        <p>Binary volume</p>
                                        <div>4500$</div>
                                    </div>
                                    <a href="@Url.Action("up", "sign")">Select</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="invest-package orange">
                                <div>
                                    <p>Invest 7</p>
                                    <div>
                                        <div class="img-box">
                                            <img src="~/Content/img/package-img-2-1.png" alt="">
                                        </div>
                                        <p>Investment sum:</p>
                                        <div>7 000 $</div>
                                        <p>Profitability</p>
                                        <div>45% per annum</div>
                                        <p>Binary volume</p>
                                        <div>6300$</div>
                                    </div>
                                    <a href="@Url.Action("up", "sign")">Select</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="invest-package red">
                                <div>
                                    <p>Invest 10</p>
                                    <div>
                                        <div class="img-box">
                                            <img src="~/Content/img/package-img-3-1.png" alt="">
                                        </div>
                                        @*<span>* While owning the «Invest 10» package, two additional packages are available: «Invest 15» 15000$ and «Invest 20» 20000$</span>*@
                                        <p>Investment sum:</p>
                                        <div>10 000 $</div>
                                        <p>Profitability</p>
                                        <div>50% per annum</div>
                                        <p>Binary volume</p>
                                        <div>9000$</div>
                                    </div>
                                    <a href="@Url.Action(" up", "sign" )">Select</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="invest-package red extra">
                                <div>
                                    <p>Invest 15</p>
                                    <div>
                                        <div class="img-box">
                                            <img src="~/Content/img/package-img-3-1.png" alt="">
                                        </div>
                                        @*<span>* While owning the «Invest 10» package, two additional packages are available: «Invest 15» 15000$ and «Invest 20» 20000$</span>*@
                                        <p>Investment sum:</p>
                                        <div>15 000 $</div>
                                        <p>Profitability</p>
                                        <div>50% per annum</div>
                                        <p>Binary volume</p>
                                        <div>13500$</div>
                                        <p class="extra">* Available when owning «Invest 10» package</p>
                                    </div>
                                    <a href="@Url.Action("up", "sign")">Select</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="invest-package red extra">
                                <div>
                                    <p>Invest 20</p>
                                    <div>
                                        <div class="img-box">
                                            <img src="~/Content/img/package-img-3-1.png" alt="">
                                        </div>
                                        @*<span>* While owning the «Invest 10» package, two additional packages are available: «Invest 15» 15000$ and «Invest 20» 20000$</span>*@
                                        <p>Investment sum:</p>
                                        <div>20 000 $</div>
                                        <p>Profitability</p>
                                        <div>50% per annum</div>
                                        <p>Binary volume</p>
                                        <div>18000$</div>
                                        <p class="extra">* Available when owning «Invest 10» package</p>
                                    </div>
                                    <a href="@Url.Action("up", "sign")">Select</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination swiper-pagination-packages"></div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="invest-block-calc white-bg">
        <div class="calc-block">
            <div class="container">
                <div class="calc">
                    <h2 class="section-title">@Resources.Resource.CalcTitle</h2>
                    <div id="calc-content">
                        @Html.Action("Calc", "home", new { program = "base" })
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <div class="invest-block-5 invest-block">
        <div class="container">
            <h3 class="section-title yellow">Advantages</h3>
            <ul>
                <li class="animated animated-2">
                    <i class="ion-ios-calendar"></i>
                    Daily accruals for investment portfolios
                </li>
                <li class="animated animated-2" style="transition-delay:0.3s;">
                    <i class="ion-ios-cash"></i>
                    Possibility of a weekly conclusion of the added dividends
                </li>
                <li class="animated animated-2" style="transition-delay:0.6s;">
                    <i class="ion-ios-repeat"></i>
                    Ease of transition to a tariff plan with more favorable conditions, at increase in investments
                </li>
                <li class="animated animated-2" style="transition-delay:0.9s;">
                    <i class="ion-ios-person-add"></i>
                    Opportunity to become a Platform Partner without having enough funds to buy an investment portfolio
                </li>
                <li class="animated animated-2" style="transition-delay:1.2s;">
                    <i class="ion-ios-git-network"></i>
                    The possibility of earning a personal investment, as well as through the use of an affiliate program
                </li>
            </ul>
        </div>
    </div>
    <div class="invest-block-6 invest-block white-bg">
        <div class="container">
            <h3 class="section-title">About a blockchain</h3>
            <img src="~/Content/img/blockchain-new.png" alt="" class="animated">
            <div class="text animated" style="transition-delay:0.3s;">
                <p>
                    <b>The blockchain</b> — is the modern technology of record and storage of information working by the principle of the distributed database: information is copied and stored not on the centralized server, and on multimillion computers of the users who are logging in a blockchain. This technology has been created in 2009, together with cryptocurrency bitcoin. Her creator it is considered to be Satoshi Nakamoto, which nobody managed to reveal the personality still. The blockchain is public and at the same time protected. It is provided thanks to:
                </p>
                <ul>
                    <li>
                        To use of difficult algorithms;
                    </li>
                    <li>
                        To application of special cryptographic methods;
                    </li>
                    <li>
                        To work of thousands of computers which are switched on in a mining among which all volume of data is distributed.
                    </li>
                </ul>
                <b>The blockchain</b> — network books regular independent audit and provides the highest extent of account and identification. Each happening transaction is coordinated with some time interval. All data are public. Now the blockchain, is generally used for transfers of cryptocurrencies. The technology provides full transparency and high speed of transactions. All translation process takes only a few minutes and costs ten times cheaper than bank. If you store money and information in a blockchain, records will never be lost or forged.
            </div>
        </div>
    </div>
    <div class="invest-block-7 invest-block">
        <div class="container">
            <h3 class="section-title yellow">About cryptocurrencies</h3>
            <div class="swiper-container swiper-invest animated">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/crypto-1.jpg" alt="">
                        </div>
                        <div class="info">
                            Cryptocurrency call a special kind of electronic means of payment. Strictly speaking, it is a mathematical code. So it is called because at the address of this digital money cryptographic elements are used digital signature. In this system ‘’coin’’ are considered as a unit of measure. The cryptocurrency has no real expression of type of metal coins or paper banknotes. This money exists only in a digital form.
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/crypto-2.jpg" alt="">
                        </div>
                        <div class="info">
                            The basic line distinguishing cryptomoney from the real is the way of their emergence in digital space. So, real means of payment are required to be deposited into a certain account or an e-wallet in the beginning, and cryptomonetary units appear in electronic form initially. "Release" of digital money happens in various ways: ICO (primary placement of coins, system of investment), mining (maintenance of the special platform for creation of new cryptomoney), forzhing (formation of new blocks in already available cryptocurrencies). That is the cryptocurrency arises directly from the Internet.
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/crypto-3.jpg" alt="">
                        </div>
                        <div class="info">
                            Other important difference from usual currency consists in release decentralization. The release of electronic currency represents generation of a mathematical code with the subsequent digital signature. The Central Bank has right to issue only real money. But crypto money can release any person. To make operations by means of cryptocurrency, it isn't necessary to contact with any third-party organizations (banks).
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/crypto-4.jpg" alt="">
                        </div>
                        <div class="info">
                            Payments by means of digital money are made exactly as well as usual wire transfers on the system of non-cash payment. The exception is the Exchange, through which cryptomanias can be monetized, that is, switch to the usual methods of payment. The address of such currency happens on the blockchain system. This system represents the database distributed millions of personal computers around the world. At the same time storage and data recording at the address of cryptomoney happens on all devices at once that guarantees absolute transparency and openness of the made transactions.
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/crypto-5.jpg" alt="">
                        </div>
                        <div class="info">
                            The popularity of cryptocurrency is caused by requirements of time. In a century of universal distribution of information technologies universal means of payment which it would be possible to pay off in electronic space without binding to a certain country or establishment are extremely demanded. The cryptocurrency became such means. For payments with virtual money only their number therefore the cryptocurrency doesn't need in real terms is used. Digital means of payment are protected by a cryptographic code that does them by more reliable in comparison with real money. And owing to absolute decentralization of issue of virtual coins, they can't be forged and forbidden.
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img">
                            <img src="~/Content/img/crypto-6.jpg" alt="">
                        </div>
                        <div class="info">
                            Also the appeal of cryptocurrency consists that it can be received independently. That is the digital currency can be got practically "from air". But on purchase, sale and investment of cryptocurrency it is possible to earn money. At the same time cryptomoney can be exchanged for traditional money owing to what they are capable to bring quite real income. Other line promoting public awareness of cryptoaccounts is the anonymity. When carrying out transactions nobody will receive any information about the payer or the recipient. From all data only number of an e-wallet will be used.
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination swiper-pagination-invest"></div>
        </div>
    </div>
</div>

<script src="~/Content/js/Chart.min.js"></script>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Active management 55%', 'Passive management 35%', 'Reserve fund 10%'],
            datasets: [{
                data: [55, 35, 10],
                backgroundColor: [
                    '#2d8926',
                    '#f0a900',
                    '#1775c5'
                ],
                borderColor: [
                    'rgba(255, 255, 255, 0.2)',
                    'rgba(255, 255, 255, 0.2)',
                    'rgba(255, 255, 255, 0.2)'
                ],
                hoverBorderColor: [
                    'rgba(255, 255, 255, 0.3)',
                    'rgba(255, 255, 255, 0.3)',
                    'rgba(255, 255, 255, 0.3)'
                ],
                borderWidth: 3,
                hoverBorderWidth: 6,
                borderAlign: 'inner'
            }]
        },
        options: {
            rotation: -1.6 * Math.PI,
            cutoutPercentage: 85,
            legend: {
                display: false
            },
            tooltips: {
                callbacks: {
                    label: function (tooltipItem, data) {
                        return data.labels[tooltipItem.index];
                    }
                }
            },
            hover: {
                onHover: function (e) {
                    var point = this.getElementAtEvent(e);
                    if (point.length) e.target.style.cursor = 'pointer';
                    else e.target.style.cursor = 'default';
                }
            },
            'onClick': function (evt, item) {
                $('.tabs li').removeClass('active');
                $('.tabs').children('li').eq(item[0]._index).addClass('active');
            }
        }
    });
    $('.tabs-btns li').click(function () {
        $('.tabs li').removeClass('active');
        $('.tabs').children('li').eq($(this).index()).addClass('active');
    });
</script>