@using W2W.ModelKBT.Entities
@using WayWealth.Areas.lk.Helpers
@using WayWealth.Areas.lk.ViewModels
@{
    ViewBag.Title = Resources.Resource.NewsTitle;
    var Items = ViewBag.Items as IEnumerable<Article>;
    var PageInfo = ViewBag.PageInfo as PageInfo;
    var culture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
}

<div class="news-page">
    <div class="inner-page-top" style="background-image: url(/Content/img/inner-page-top-news.jpg)">
        <div class="container">
            <h2>@Resources.Resource.NewsTitle</h2>
        </div>
    </div>
    <div class="bread">
        <div class="container">
            <a href="/">@Resources.Resource.HomePage</a>
            <i>/</i>
            <span>@Resources.Resource.NewsTitle</span>
        </div>
    </div>
    @if (Items != null)
    {
        <div class="container">
            <ul class="news-list">
                @foreach (var item in Items.OrderByDescending(x => x.CreationDate))
                {
                    <li class="animated animated-2">
                        <div class="img-box">
                            <img src="@Url.Action("img", "home", new { area = "", id=item.Image })" alt="">
                        </div>
                        <a href="@Url.Action("news", "home", new {id= item.id_object})" class="link">
                            @if (culture == "ru-RU")
                            {
                                @item.ObjectName
                            }
                            else
                            {
                                @item.ObjectNameEng
                            }
                        </a>
                        <time class="date">
                            <i class="ion ion-md-calendar"></i>@item.PublishDate.Value.ToShortDateString()
                        </time>
                        <div class="text-center">
                            <a href="@Url.Action("news", "home", new {id= item.id_object})" class="btn btn-bordered">
                                @if (culture == "ru-RU")
                                {
                                    @Resources.Resource.MoreBtn
                                }
                                else
                                {
                                    @Resources.Resource.MoreBtn
                                }
                            </a>
                        </div>
                    </li>
                }
            </ul>
        </div>
    }
        <div class="container">
            @if (PageInfo != null && PageInfo.TotalPages > 1)
            {
                @Html.PageLinks(PageInfo, null, x => Url.Action("news", new { page = x }))
            }
        </div>
</div>