@using W2W.ModelKBT.Entities
@{
    var Article = ViewBag.Article as Article;
    var Items = ViewBag.Items as IEnumerable<Article>;
    var culture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
    if (culture == "ru-RU")
    {
        ViewBag.Title = Article.ObjectName;
    }
    else
    {
        ViewBag.Title = Article.ObjectNameEng;
    }
}

<div class="news-page">
    <div class="inner-page-top" style="background-image: url(/Content/img/inner-page-top-news.jpg)">
        <div class="container">
            <h2>@Resources.Resource.NewsTitle</h2>
        </div>
    </div>
    <div class="bread">
        <div class="container">
            <a href="/">@Resources.Resource.HomePage</a>
            <i>/</i>
            <a href="@Url.Action("news", "home")">@Resources.Resource.NewsTitle</a>
            <i>/</i>
            <span>
                @if (culture == "ru-RU")
                {
                    @Article.ObjectName
                }
                else
                {
                    @Article.ObjectNameEng
                }
            </span>
        </div>
    </div>
    <div class="container">
        <div class="news-open">
            <div class="news-open-full">
                <time class="date"><i class="ion ion-md-calendar"></i>@Article.PublishDate.Value.ToShortDateString()</time>
                <h2 class="news-full-title">
                    @if (culture == "ru-RU")
                    {
                        @Article.ObjectName
                    }
                    else
                    {
                        @Article.ObjectNameEng
                    }
                </h2>
                <div class="desc">
                    @if (culture == "ru-RU")
                    {
                        @Html.Raw(Article.Text)
                    }
                    else
                    {
                        @Html.Raw(Article.TextEng)
                    }
                </div>
            </div>
            <div class="list-news-full">
                <h3>@Resources.Resource.LastNews</h3>
                <ul>
                    @foreach (var a in Items.OrderByDescending(x => x.CreationDate).Take(3))
                    {
                    <li>
                        <div class="img-box">
                            <img src="@Url.Action("img", "home", new { area = "", id=a.Image })" alt="" />
                        </div>
                        <a href="@Url.Action("news", "home", new {id=a.id_object})" class="link">
                            @if (culture == "ru-RU")
                            {
                                @a.ObjectName
                            }
                            else
                            {
                                @a.ObjectNameEng
                            }
                        </a>
                        <time class="date"><i class="ion ion-md-calendar"></i>@a.PublishDate.Value.ToShortDateString()</time>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>