@model WayWealth.Infrastructure.Auth.CustomPrincipal
    @{
        var site = string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"));
        decimal InvestPaymentsPercents = ViewBag.InvestPayments > 0 ?  Math.Round((decimal)ViewBag.InvestPayments * 100 / (Model.BalanceInvestments * 2), 2) : 0;
    }
<div class="white-bg">
    <div class="container">
        <div class="profile-block">
            @if (!string.IsNullOrWhiteSpace(Model.Image))
            {
                <div class="img-box">
                    <img class="ava" src="@Url.Action("img", "home", new { area = "", id=Model.Image })" alt="">
                </div>
            }

            <div>
                <h2>@Model.ObjectName</h2>
                <div>
                    <span class="m-r-10 m-b-10">
                        @Resources.Resource.YourId <span><b>@(string.IsNullOrWhiteSpace(Model.Login) ? Model.PersonalId.ToString() : $"{Model.Login} / {Model.PersonalId.ToString()}")</b></span>
                    </span>
                    <a href="@Url.Action("replenish", "home")" class="btn btn-bordered btn-xs m-b-10">@Resources.Resource.TopUpAccount</a>
                </div>
                @if ((Model.BalanceInner > 0) || (ViewBag.BalanceInvestments > 0))
                {
                    <p class="m-b-10">@Resources.Resource.RefLinkText</p>
                    <div>
                        <b class="js-link m-b-10 m-r-10">@(site + "reg/" + Model.PersonalId)</b>
                        <span>
                            <a title="@Resources.Resource.CopyLink" data-href="@(site + "reg/" + Model.PersonalId)" class="copy_link btn btn-bordered btn-xs m-b-10 m-r-10" id="partnerLink" data-clipboard-text="@(site + "reg/" + Model.PersonalId)">
                                <i class="ion-md-copy"></i>
                            </a>
                            <a class="btn btn-bordered btn-xs m-b-10 m-r-10" href="@Url.Action("up", "sign", new { inviter = Model.PersonalId, area = "" })">
                                <span data-text="@Resources.Resource.RegisterPartner">@Resources.Resource.RegisterPartner</span>
                            </a>
                        </span>


                        <script>
                            var clipboard = new ClipboardJS('.btn');
                            clipboard.on('success', function (e) {
                                console.log(e);
                            });
                            clipboard.on('error', function (e) {
                                console.log(e);
                            });

                            var copyEmailBtn = document.querySelector('.copy_link');
                            copyEmailBtn.addEventListener('click', function (event) {
                                window.alert("@Resources.Resource.DataCopied");
                            });


                        </script>
                    </div>
                    <div class="m-b-10">
                        <p>
                            @Resources.Resource.CumulativeText <b>$ @(ViewBag.StructSavingsBalance.ToString("N2"))</b>
                        </p>
                    </div>
                }
                <!-----
             @if (!string.IsNullOrWhiteSpace(ViewBag.Rank))
             {
            <p>
                 @Resources.Resource.Qualification: <b>@ViewBag.Rank</b>
             </p>
             }
             --->
            </div>
        </div>
        @if (Model.BalanceInvestments > 0)
        {
            <div class="profile-progress-bar-wrap">
                <h3>Ваш доход на текущий день Х2</h3>
                <div class="profile-progress-bar-val" style="left: @InvestPaymentsPercents.ToString("F2", System.Globalization.CultureInfo.CreateSpecificCulture("en-Us")))%;">@(Math.Round(InvestPaymentsPercents))%</div>
                <div class="profile-progress-bar-outer">
                    <div class="profile-progress-bar">
                        <div class="profile-progress-bar-inner" style="width: @(InvestPaymentsPercents.ToString("F2", System.Globalization.CultureInfo.CreateSpecificCulture("en-Us")))%;"></div>
                    </div>
                    <div class="profile-progress-bar-tooltip">$ @((ViewBag.InvestPayments).ToString("N2"))</div>
                </div>
                <div class="profile-progress-min">0</div>
                <div class="profile-progress-max">@((Model.BalanceInvestments * 2).ToString("N2"))</div>
            </div>
        }
    </div>
</div>
    <div class="bills-block">
        <div class="container">
            <ul>
                <li>
                    <div class="info">
                        <p class="caption">
                            @Resources.Resource.PersonalAccountCaption1_1
                            @Resources.Resource.PersonalAccountCaption1_2
                        </p>
                        <p class="price">$ @(Model.BalanceInner.ToString("N2"))</p>
                        <div class="btn-block">
                            <a href="@Url.Action("invest", "home")" class="btn btn-grad btn-sm m-b-10">@Resources.Resource.InvestBtn</a>
                            <a href="@Url.Action("withdraw", "home")" class="btn btn-grad btn-sm m-b-10">@Resources.Resource.WithdrawBtn</a>
                            <a href="@Url.Action("transfer2", "home")" class="btn btn-grad btn-sm">@Resources.Resource.TransferBtn</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="info">
                        <p class="caption">
                            @Resources.Resource.InvestmentAccountCaption1
                            @Resources.Resource.InvestmentAccountCaption2
                        </p>
                        <p class="price">$ @(Model.BalanceInvestments.ToString("N2"))</p>
                        <div class="btn-block">
                            <a href="@Url.Action("investments", "home")" class="btn btn-grad btn-sm">@Resources.Resource.MyInvestmentsBtn</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="info">
                        <p class="caption">
                            @Resources.Resource.InterestInvestmentCaption1
                            @Resources.Resource.InterestInvestmentCaption2
                        </p>
                        <p class="price">$ @(Model.BalancePercents.ToString("N2"))</p>
                        <div class="btn-block">
                            <a href="@Url.Action("transfer", "home")" class="btn btn-grad btn-sm">@Resources.Resource.TransferBtn</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="info">
                        <p class="caption">
                            @Resources.Resource.MarketingRewardsCaption1
                            @Resources.Resource.MarketingRewardsCaption2
                        </p>
                        <p class="price">$ @(Model.BalanceRewards.ToString("N2"))</p>
                        <div class="btn-block">
                            <a href="@Url.Action("transfer", "home")" class="btn btn-grad btn-sm">@Resources.Resource.TransferBtn</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
