@model string
@using W2W.ModelKBT.Entities
@using WayWealth.Areas.lk.Helpers
@{
    var Items = ViewBag.Items as IEnumerable<Partner>;
    var PageInfo = ViewBag.PageInfo as WayWealth.Areas.lk.ViewModels.PageInfo;
}

<div class="wrap-table">
    <table class="table">
        <thead>
            <tr>
                <th>@Resources.Resource.Fio2</th>
                @*<th>
                        <p class="caption">
                            <span data-text="@Resources.Resource.DepthLocation">@Resources.Resource.DepthLocation</span>
                        </p>
                    </th>*@
                <th>@Resources.Resource.Choose</th>
            </tr>
        </thead>
        <tbody>
            @if (Items != null && Items.Count() > 0)
            {
                foreach (var i in ViewBag.Items)
                {
                    <tr>
                        <td data-text="@Resources.Resource.Fio2">@i.ObjectName</td>
                        @*<td>@i.id_object</td>*@
                        <td data-text="@Resources.Resource.Choose">
                            @Html.ActionLink(Resources.Resource.Choose, "Structure", new { RootId = @i.id_object })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@if (PageInfo != null && PageInfo.TotalPages > 1)
{
    @Html.PageLinksAjax(PageInfo, null, x => Url.Action("_SearchMarketingPlaces", new
    {
        page = x,
        searchText = Model
    }), "#searchResults")
}
<a class="btn btn-bordered btn-sm close-modal-btn">@Resources.Resource.Close</a>