<div class="tree-info">
    <div>
        <span>@Resources.Resource.Fio</span>
        <p class="name"></p>
    </div>
    <div>
        <span>@Resources.Resource.LoginOrId</span>
        <p class="loginorid"></p>
    </div>
    <div>
        <span>@Resources.Resource.DepthLocation</span>
        <p class="deep"></p>
    </div>
    <div>
        <span>@Resources.Resource.AmountInvestment</span>
        <p class="investments"></p>
    </div>
    <div>
        <span>@Resources.Resource.LeftShoulderInvestSum</span>
        <p class="left-sum"></p>
    </div>
    <div>
        <span>@Resources.Resource.RighShoulderInvestSum</span>
        <p class="right-sum"></p>
    </div>
</div>

