<div class="tree-info">
    <div>
        <span>@Resources.Resource.Fio</span>
        <p class="name"></p>
    </div>
    <div>
        <span>@Resources.Resource.LoginOrId</span>
        <p class="loginorid"></p>
    </div>
    <div>
        <span>@Resources.Resource.DepthLocation</span>
        <p class="deep"></p>
    </div>
    <div>
        <span>@Resources.Resource.LevelValue</span>
        <p class="levelvalue"></p>
    </div>
    <div>
        <span>@Resources.Resource.AmountInvestment</span>
        <p class="investments"></p>
    </div>

    <!-- 4. -->
    <div>
        <span>@Resources.Resource.RewardsSum</span>
        <p class="rewards"></p>
    </div>

    <div>
        <span>@Resources.Resource.StructValue</span>
        <p class="structvalue"></p>
    </div>

    <div>
        <span>@Resources.Resource.StructRewards</span>
        <p class="structrewards"></p>
    </div>

</div>
