<div class="tree-info">
    <div>
        <span>@Resources.Resource.Fio</span>
        <p class="name"></p>
    </div>
    <div>
        <span>@Resources.Resource.LoginOrId</span>
        <p class="loginorid"></p>
    </div>
    <div>
        <span>@Resources.Resource.DepthLocation</span>
        <p class="deep"></p>
    </div>
    <div>
        <span>@Resources.Resource.AmountInvestment</span>
        <p class="investments"></p>
    </div>
    <div>
        <span>@Resources.Resource.Filled</span>
        <p class="filled"></p>
    </div>
    <div>
        <span>@Resources.Resource.AmountPlace</span>
        <p class="rewards"></p>
    </div>
</div>

