@model W2W.ModelKBT.Entities.WebPaymentRequest
@using KBTech.Attributes
@using KBTech.Integration.Merchant.CoinBase
@{
    ViewBag.Title = Resources.Resource.TopAccountTitle;
    Layout = "~/Areas/lk/Views/Shared/_Layout.cshtml";
}
<div class="perevod-block">
    <p class="page-title">
        <img src="~/Areas/lk/Content/img/toolbar-icon-4-4.png" alt="">@Resources.Resource.TopAccountTitle
    </p>
    <div class="popolnit-step-2">
        <div class="wrap-p">
            <span>@Resources.Resource.TimeWallet</span>
            <p>
                <span class="js-link">@Model.TempAddress</span>
                <a class="copy_link" data-href="@Model.TempAddress" title="@Resources.Resource.CopyLink">
                    <img src="~/Areas/lk/Content/img/copy-content.png" alt="">
                </a>
            </p>

            <script>
                var copyEmailBtn = document.querySelector('.copy_link');
                copyEmailBtn.addEventListener('click', function (event) {
                    var emailLink = document.querySelector('.js-link');
                    var range = document.createRange();
                    range.selectNode(emailLink);
                    window.getSelection().addRange(range);

                    try {
                        var successful = document.execCommand('copy');
                        var msg = successful ? 'successful' : 'unsuccessful';
                        window.alert("@Resources.Resource.DataCopied");
                    } catch (err) {
                        console.log('Oops, unable to copy');
                    }
                    window.getSelection().removeAllRanges();
                });
            </script>
        </div>
        <div class="qr-code">
            @*<img src="~/Areas/lk/Content/img/qr-code.png" alt="">*@
            <img src="https://bitaps.com/api/qrcode/png/@(HttpUtility.UrlEncode(Model.TempAddress))" />
        </div>
        @if (Model.Currency == "XRP")
        {
            <div class="wrap-p" style="margin-bottom: 15px;">
                <span>Destination Tag</span>
                <p>
                    <span class="">@Model.id_object.ToString().PadLeft(9, '0')</span>
                </p>
            </div>
        }

        <div class="flex">
            <div class="wrap-p">
                <span>@Resources.Resource.AmountСurrency</span>
                <p>@Model.CurrencySum.Value.ToString("N6") @Model.Currency</p>
            </div>
            <div class="wrap-p">
                <span>@Resources.Resource.ConversionRate</span>
                <p>1 @Model.Currency = $ @((Model.PaymentSum.Value / Model.CurrencySum.Value).ToString("N2"))</p>
            </div>
            <div class="wrap-p">
                <span>@Resources.Resource.RefillAmount</span>
                <p>$ @Model.PaymentSum</p>
            </div>
        </div>
        <div class="wrap-i">
            <img src="~/Areas/lk/Content/img/info.png" alt="">
            @if (Model.Currency == "XRP")
            {
            <i>@Resources.Resource.TimeWalletLbl. @Resources.Resource.RippleTagRequirement</i>
            }
            else
            {
                <i>@Resources.Resource.TimeWalletLbl</i>
            }
            
        </div>
        <a href="@Url.Action("Replenish", "Home")" class="page-link"><span data-text="@Resources.Resource.Cancellation">@Resources.Resource.Cancellation</span></a>
    </div>
</div>