@model WayWealth.Areas.lk.ViewModels.Home.InvestView
@using W2W.ModelKBT.Entities

@{
    TempData.Keep();

    ViewBag.Title = "Invest";
    Layout = "~/Areas/lk/Views/Shared/_Layout.cshtml";
    var culture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
    var items = ViewBag.Items as IEnumerable<NewInvestProgram>;
    decimal UserBalance = ViewBag.UserBalance != null ? (Decimal)ViewBag.UserBalance : 0;
    bool IsCanBuyPremium = ViewBag.IsCanBuyPremium != null ? (bool)ViewBag.IsCanBuyPremium : false;
    System.Collections.ArrayList UserInvestments = ViewBag.UserInvestments as System.Collections.ArrayList;
}

<div class="white-bg h-100">
    <div class="container">
        @*<form id="invest-inner-form">*@
        <h2 class="inner-title">@Resources.Resource.InvestTitle</h2>
        @helper CreateItems(IEnumerable<NewInvestProgram> items, decimal UserBalance, bool IsCanBuyPremium, System.Collections.ArrayList UserInvestments)
        {

            foreach (var item in items)
            {
                var image = "package-img-1-1.png";
                var packageClass = "";
                if (item.Sum >= 1000 && item.Sum < 10000)
                {
                    image = "package-img-2-1.png";
                    packageClass = " orange";
                }
                else if (item.Sum >= 10000)
                {
                    image = "package-img-3-1.png";
                    packageClass = item.Sum < 15000 ? "red" : "red extra";
                }

                <div class="swiper-slide">
                    <div class="invest-package @packageClass">
                        <div>
                            <p>@item.Name</p>
                            <div>
                                <div class="img-box">
                                    <img src="~/Content/img/@image" alt="">
                                </div>
                                <p>@Resources.Resource.InvestPackageSumTitle:</p>
                                <div>@item.Sum $</div>
                                <p>@Resources.Resource.InvestPackageProfitabilityTitle</p>
                                <div>@(item.YearPercent * 100)% @Resources.Resource.InvestPackagePerTitle</div>
                                <p>@Resources.Resource.InvestPackageBinaryVolume</p>
                                <div>@((Int32)item.Sum * 0.9) $</div>
                                @if (item.Sum > 10000)
                                {
                                    <p class="extra">* @Resources.Resource.InvestPackageExtra</p>
                                }
                            </div>
                            <a href="javascript:void(0);" class="btn-invest-show @((UserInvestments.Contains(item.id_object) || UserBalance < item.Sum || (!IsCanBuyPremium && item.Sum > 10000)) ?  "disabled" : "")"
                               data-id="@item.id_object">@Resources.Resource.InvestPackageSelect</a>
                        </div>
                    </div>
                </div>
            }
        }

        @*if (culture == "ru-RU")
        {*@
        <div class="swiper-container swiper-invest-packages invest-packages animated">
            <div class="swiper-wrapper">
                @CreateItems(items, UserBalance, IsCanBuyPremium, UserInvestments);
                @*<div class="swiper-slide">
                    <div class="invest-package">
                        <div>
                            <p>START</p>
                            <div>
                                <div class="img-box">
                                    <img src="~/Content/img/package-img-1-1.png" alt="">
                                </div>
                                <p>Сумма инвестиции:</p>
                                <div>100 $</div>
                                <p>Доходность</p>
                                <div>0% годовых</div>
                                <p>Объем бинара</p>
                                <div>90$</div>
                            </div>
                            <a class="btn-invest-show">Выбрать</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="invest-package">
                        <div>
                            <p>Partner</p>
                            <div>
                                <div class="img-box">
                                    <img src="~/Content/img/package-img-1-1.png" alt="">
                                </div>
                                <p>Сумма инвестиции:</p>
                                <div>500 $</div>
                                <p>Доходность</p>
                                <div>20% годовых</div>
                                <p>Объем бинара</p>
                                <div>400$</div>
                            </div>
                            <a class="btn-invest-show">Выбрать</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="invest-package">
                        <div>
                            <p>Invest</p>
                            <div>
                                <div class="img-box">
                                    <img src="~/Content/img/package-img-1-1.png" alt="">
                                </div>
                                <p>Сумма инвестиции:</p>
                                <div>1 000 $</div>
                                <p>Доходность</p>
                                <div>30% годовых</div>
                                <p>Объем бинара</p>
                                <div>900$</div>
                            </div>
                            <a class="btn-invest-show">Выбрать</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="invest-package orange">
                        <div>
                            <p>Invest 3</p>
                            <div>
                                <div class="img-box">
                                    <img src="~/Content/img/package-img-2-1.png" alt="">
                                </div>
                                <p>Сумма инвестиции:</p>
                                <div>3 000 $</div>
                                <p>Доходность</p>
                                <div>35% годовых</div>
                                <p>Объем бинара</p>
                                <div>2700$</div>
                            </div>
                            <a class="btn-invest-show">Выбрать</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="invest-package orange">
                        <div>
                            <p>Invest 5</p>
                            <div>
                                <div class="img-box">
                                    <img src="~/Content/img/package-img-2-1.png" alt="">
                                </div>
                                <p>Сумма инвестиции:</p>
                                <div>5 000 $</div>
                                <p>Доходность</p>
                                <div>40% годовых</div>
                                <p>Объем бинара</p>
                                <div>4500$</div>
                            </div>
                            <a class="btn-invest-show">Выбрать</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="invest-package orange">
                        <div>
                            <p>Invest 7</p>
                            <div>
                                <div class="img-box">
                                    <img src="~/Content/img/package-img-2-1.png" alt="">
                                </div>
                                <p>Сумма инвестиции:</p>
                                <div>7 000 $</div>
                                <p>Доходность</p>
                                <div>45% годовых</div>
                                <p>Объем бинара</p>
                                <div>6300$</div>
                            </div>
                            <a class="btn-invest-show">Выбрать</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="invest-package red">
                        <div>
                            <p>Invest 10</p>
                            <div>
                                <div class="img-box">
                                    <img src="~/Content/img/package-img-3-1.png" alt="">
                                </div>
                                @*<span>* При владении портфеля «Invest 10» доступны два дополнительных портфеля: «Invest 15» 15000$ и «Invest 20» 20000$</span>*@@*
                                <p>Сумма инвестиции:</p>
                                <div>10 000 $</div>
                                <p>Доходность</p>
                                <div>50% годовых</div>
                                <p>Объем бинара</p>
                                <div>9000$</div>
                            </div>
                            <a class="btn-invest-show">Выбрать</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="invest-package red extra">
                        <div>
                            <p>Invest 15</p>
                            <div>
                                <div class="img-box">
                                    <img src="~/Content/img/package-img-3-1.png" alt="">
                                </div>
                                @*<span>* При владении портфеля «Invest 10» доступны два дополнительных портфеля: «Invest 15» 15000$ и «Invest 20» 20000$</span>*@@*
                                                <p>Сумма инвестиции:</p>
                                                <div>15 000 $</div>
                                                <p>Доходность</p>
                                                <div>50% годовых</div>
                                                <p>Объем бинара</p>
                                                <div>13500$</div>
                                                <p class="extra">* Доступен владельцам портфеля «INVEST 10»</p>
                                            </div>
                                            <a class="btn-invest-show">Выбрать</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="invest-package red extra">
                                        <div>
                                            <p>Invest 20</p>
                                            <div>
                                                <div class="img-box">
                                                    <img src="~/Content/img/package-img-3-1.png" alt="">
                                                </div>
                                                @*<span>* При владении портфеля «Invest 10» доступны два дополнительных портфеля: «Invest 15» 15000$ и «Invest 20» 20000$</span>*@@*
                                                            <p>Сумма инвестиции:</p>
                                                            <div>20 000 $</div>
                                                            <p>Доходность</p>
                                                            <div>50% годовых</div>
                                                            <p>Объем бинара</p>
                                                            <div>18000$</div>
                                                            <p class="extra">* Доступен владельцам портфеля «INVEST 10»</p>
                                                        </div>
                                                        <a class="btn-invest-show">Выбрать</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-pagination swiper-pagination-packages"></div>
                                    </div>
                                }
                                else
                                {
                                    <div class="swiper-container swiper-invest-packages invest-packages animated">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="invest-package">
                                                    <div>
                                                        <p>START</p>
                                                        <div>
                                                            <div class="img-box">
                                                                <img src="~/Content/img/package-img-1-1.png" alt="">
                                                            </div>
                                                            <p>Investment sum:</p>
                                                            <div>100 $</div>
                                                            <p>Profitability</p>
                                                            <div>0% per annum</div>
                                                            <p>Binary volume</p>
                                                            <div>90$</div>
                                                        </div>
                                                        <a class="btn-invest-show">Select</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="invest-package">
                                                    <div>
                                                        <p>Partner</p>
                                                        <div>
                                                            <div class="img-box">
                                                                <img src="~/Content/img/package-img-1-1.png" alt="">
                                                            </div>
                                                            <p>Investment sum:</p>
                                                            <div>500 $</div>
                                                            <p>Profitability</p>
                                                            <div>20% per annum</div>
                                                            <p>Binary volume</p>
                                                            <div>400$</div>
                                                        </div>
                                                        <a class="btn-invest-show">Select</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="invest-package">
                                                    <div>
                                                        <p>Invest</p>
                                                        <div>
                                                            <div class="img-box">
                                                                <img src="~/Content/img/package-img-1-1.png" alt="">
                                                            </div>
                                                            <p>Investment sum:</p>
                                                            <div>1 000 $</div>
                                                            <p>Profitability</p>
                                                            <div>30% per annum</div>
                                                            <p>Binary volume</p>
                                                            <div>900$</div>
                                                        </div>
                                                        <a class="btn-invest-show">Select</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="invest-package orange">
                                                    <div>
                                                        <p>Invest 3</p>
                                                        <div>
                                                            <div class="img-box">
                                                                <img src="~/Content/img/package-img-2-1.png" alt="">
                                                            </div>
                                                            <p>Investment sum:</p>
                                                            <div>3 000 $</div>
                                                            <p>Profitability</p>
                                                            <div>35% per annum</div>
                                                            <p>Binary volume</p>
                                                            <div>2700$</div>
                                                        </div>
                                                        <a class="btn-invest-show">Select</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="invest-package orange">
                                                    <div>
                                                        <p>Invest 5</p>
                                                        <div>
                                                            <div class="img-box">
                                                                <img src="~/Content/img/package-img-2-1.png" alt="">
                                                            </div>
                                                            <p>Investment sum:</p>
                                                            <div>5 000 $</div>
                                                            <p>Profitability</p>
                                                            <div>40% per annum</div>
                                                            <p>Binary volume</p>
                                                            <div>4500$</div>
                                                        </div>
                                                        <a class="btn-invest-show">Select</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="invest-package orange">
                                                    <div>
                                                        <p>Invest 7</p>
                                                        <div>
                                                            <div class="img-box">
                                                                <img src="~/Content/img/package-img-2-1.png" alt="">
                                                            </div>
                                                            <p>Investment sum:</p>
                                                            <div>7 000 $</div>
                                                            <p>Profitability</p>
                                                            <div>45% per annum</div>
                                                            <p>Binary volume</p>
                                                            <div>6300$</div>
                                                        </div>
                                                        <a class="btn-invest-show">Select</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="invest-package red">
                                                    <div>
                                                        <p>Invest 10</p>
                                                        <div>
                                                            <div class="img-box">
                                                                <img src="~/Content/img/package-img-3-1.png" alt="">
                                                            </div>
                                                            @*<span>* While owning the «Invest 10» package, two additional packages are available: «Invest 15» 15000$ and «Invest 20» 20000$</span>*@@*
                                                                <p>Investment sum:</p>
                                                                <div>10 000 $</div>
                                                                <p>Profitability</p>
                                                                <div>50% per annum</div>
                                                                <p>Binary volume</p>
                                                                <div>9000$</div>
                                                            </div>
                                                            <a class="btn-invest-show">Select</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="invest-package red extra">
                                                        <div>
                                                            <p>Invest 15</p>
                                                            <div>
                                                                <div class="img-box">
                                                                    <img src="~/Content/img/package-img-3-1.png" alt="">
                                                                </div>
                                                                @*<span>* While owning the «Invest 10» package, two additional packages are available: «Invest 15» 15000$ and «Invest 20» 20000$</span>*@@*
                                                                            <p>Investment sum:</p>
                                                                            <div>15 000 $</div>
                                                                            <p>Profitability</p>
                                                                            <div>50% per annum</div>
                                                                            <p>Binary volume</p>
                                                                            <div>13500$</div>
                                                                            <p class="extra">* Available when owning «Invest 10» package</p>
                                                                        </div>
                                                                        <a class="btn-invest-show">Select</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <div class="invest-package red extra">
                                                                    <div>
                                                                        <p>Invest 20</p>
                                                                        <div>
                                                                            <div class="img-box">
                                                                                <img src="~/Content/img/package-img-3-1.png" alt="">
                                                                            </div>
                                                                            @*<span>* While owning the «Invest 10» package, two additional packages are available: «Invest 15» 15000$ and «Invest 20» 20000$</span>*@@*
                                                                                <p>Investment sum:</p>
                                                                                <div>20 000 $</div>
                                                                                <p>Profitability</p>
                                                                                <div>50% per annum</div>
                                                                                <p>Binary volume</p>
                                                                                <div>18000$</div>
                                                                                <p class="extra">* Available when owning «Invest 10» package</p>
                                                                            </div>
                                                                            <a class="btn-invest-show">Select</a>
                                                                        </div>
                                                                    </div>
                                                                </div>*@
                                                                        </div>
                                                                        <div class="swiper-pagination swiper-pagination-packages"></div>
                                                                    </div>
                                                                    @*}*@
                                                                    @if (!ViewData.ModelState.IsValid)
                                                                    {
                                                                    @Html.ValidationSummary(false)
                                                                    }
                                                                    <div class="invest-inner-accept">
                                                                        <div class="info-block">
                                                                            <i class="ion-ios-information"></i>
                                                                            <strong>@Resources.Resource.ConfirmWarning</strong> @Resources.Resource.ConfirmTxt
                                                                        </div>
                                                                        @using (Html.BeginForm("Invest", "Home", FormMethod.Post))
                                                                        {
                                                                            @Html.Hidden("InvestId", "")
                                                                            <button type="submit" class="btn btn-grad btn-sm m-r-10">@Resources.Resource.Confirm</button>
                                                                            <button type="button" class="btn btn-bordered btn-sm btn-invest-hide">@Resources.Resource.Cancellation</button>
                                                                        }
                                                                    </div>
                                                                    @*</form>*@
                                                                </div>
                                                                        </div>
                                                                        <script>
    $('.btn-invest-show').click(function () {
        if($(this).hasClass('disabled')){
            var message = '<i class="ion-ios-close modal-icon modal-icon-close"></i><p class="m-b-30">@Resources.Resource.BuyInvestError</p><a class="btn btn-bordered btn-sm close-modal-btn">@Resources.Resource.Close</a>';
            $('.wrap-modal').fadeIn();
            $('#searchResults').html(message);
            return false;
        }


        $('#InvestId').val($(this).attr('data-id'));
        $('.invest-inner-accept').show();
    });
    $('.btn-invest-hide').click(function () {
        $('.invest-inner-accept').hide();
    });
                                                                        </script>