@model WayWealth.Areas.lk.ViewModels.Home.InvestView
@using W2W.ModelKBT.Entities

@{
    TempData.Keep();

    ViewBag.Title = "Invest";
    Layout = "~/Areas/lk/Views/Shared/_Layout.cshtml";
    var culture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
    var items = ViewBag.Items as IEnumerable<NewInvestProgram>;
    decimal UserBalance = ViewBag.UserBalance != null ? (Decimal)ViewBag.UserBalance : 0;
    bool IsCanBuyPremium = ViewBag.IsCanBuyPremium != null ? (bool)ViewBag.IsCanBuyPremium : false;
    System.Collections.ArrayList UserInvestments = ViewBag.UserInvestments as System.Collections.ArrayList;
}

<div class="white-bg h-100">
    <div class="container">
        <div id="invest-inner-form">
            <h2 class="inner-title">@Resources.Resource.InvestTitle</h2>
            @helper CreateItems(IEnumerable<NewInvestProgram> items, decimal UserBalance, bool IsCanBuyPremium, System.Collections.ArrayList UserInvestments)
            {

                foreach (var item in items)
                {
                    var image = "package-img-1-1.png";
                    var packageClass = "";
                    if (item.Sum >= 1000 && item.Sum < 10000)
                    {
                        image = "package-img-2-1.png";
                        packageClass = " orange";
                    }
                    else if (item.Sum >= 10000)
                    {
                        image = "package-img-3-1.png";
                        packageClass = item.Sum < 15000 ? "red" : "red extra";
                    }

                    <div class="swiper-slide">
                        <div class="invest-package @packageClass">
                            <div>
                                <p>@item.Name</p>
                                <div>
                                    <div class="img-box">
                                        <img src="~/Content/img/@image" alt="">
                                    </div>
                                    <p>@Resources.Resource.InvestPackageSumTitle:</p>
                                    <div>@item.Sum $</div>
                                    <p>@Resources.Resource.InvestPackageProfitabilityTitle</p>
                                    <div>@Math.Round((item.YearPercent * 100))% @Resources.Resource.InvestPackagePerTitle</div>
                                    <p>@Resources.Resource.InvestPackageBinaryVolume</p>
                                    <div>@((Int32)item.Sum * 0.9) $</div>
                                    @if (item.Sum > 10000)
                                    {
                                        <p class="extra">* @Resources.Resource.InvestPackageExtra</p>
                                    }
                                </div>
                                <a href="javascript:void(0);" class="btn-invest-show @((UserInvestments.Contains(item.id_object) || UserBalance < item.Sum || (!IsCanBuyPremium && item.Sum > 10000)) ?  "disabled" : "")"
                                   data-id="@item.id_object">@Resources.Resource.InvestPackageSelect</a>
                            </div>
                        </div>
                    </div>
                }
            }

            @*if (culture == "ru-RU")
                {*@
            <div class="swiper-container swiper-invest-packages invest-packages animated">
                <div class="swiper-wrapper">
                    @CreateItems(items, UserBalance, IsCanBuyPremium, UserInvestments)

                </div>
                <div class="swiper-pagination swiper-pagination-packages"></div>
            </div>
            @*}*@
            @if (!ViewData.ModelState.IsValid)
            {
                @Html.ValidationSummary(false)
            }
            <div class="invest-inner-accept">
                <div class="info-block">
                    <i class="ion-ios-information"></i>
                    <strong>@Resources.Resource.ConfirmWarning</strong> @Resources.Resource.ConfirmTxt
                </div>
                @using (Html.BeginForm("Invest", "Home", FormMethod.Post))
                {
                    @Html.Hidden("InvestId", "")
                    <button type="submit" class="btn btn-grad btn-sm m-r-10">@Resources.Resource.Confirm</button>
                    <button type="button" class="btn btn-bordered btn-sm btn-invest-hide">@Resources.Resource.Cancellation</button>
                }
            </div>
        </div>
    </div>
</div>

<script>
    $('.btn-invest-show').click(function () {
    
        $(this).closest('.invest-package').addClass("selected");

        $(".swiper-invest-packages").addClass('deautoplay');

        if($(this).hasClass('disabled')){
            var message = '<i class="ion-ios-close modal-icon modal-icon-close"></i><p class="m-b-30">@Resources.Resource.BuyInvestError</p><a class="btn btn-bordered btn-sm close-modal-btn">@Resources.Resource.Close</a>';
            $('.wrap-modal').fadeIn();
            $('#searchResults').html(message);
            return false;
        }

        $('#InvestId').val($(this).attr('data-id'));

        $('.invest-inner-accept').show();

        $('html, body').animate({
            scrollTop: $('.invest-inner-accept').offset().top - 100
        }, 500);
    });

    $('button[type="submit"]').on('click', function () { 
        $('.loader-absolute').addClass('active');
    })

    $('.btn-invest-hide').click(function () {
        $('.invest-inner-accept').hide();
        $('.invest-package').removeClass("selected");
        $(".swiper-invest-packages").removeClass('deautoplay');
        $('html, body').animate({
            scrollTop: $('#invest-inner-form').offset().top
        }, 500);
    });
</script>