@model WayWealth.Areas.lk.ViewModels.Home.InvestmentsView
@using System.Text
@using W2W.ModelKBT.Entities

@{
    ViewBag.Title = Resources.Resource.MyInvestTitle;
    Layout = "~/Areas/lk/Views/Shared/_Layout.cshtml";
    var culture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;

    var Investments = ViewBag.Investments as IEnumerable<Investment>;
    var ExpectedPayments = ViewBag.ExpectedPayments as IEnumerable<InnerTransfer>;
    var Terminated = ViewBag.Terminated as IEnumerable<Investment>;
}
<div class="white-bg h-100">
    <div class="container">
        <div class="invest-block">
            <h2 class="inner-title">
                @Resources.Resource.MyInvestTitle
            </h2>
            <div class="error-msg">
                @Html.ValidationSummary()
            </div>
            <div class="filter-block">
                @using (Html.BeginForm())
                {
                    <div class="form-group">
                        <label>@Resources.Resource.StatusLbl</label>
                        <div class="form-group-select">
                            @Html.DropDownListFor(x => x.Status, new SelectListItem[]
                             {
                                    new SelectListItem { Text = Resources.Resource.Completed, Value = Resources.Resource.Completed},
                                    new SelectListItem { Text = Resources.Resource.Active, Value = Resources.Resource.Active},
                             }, Resources.Resource.NotChosen,  new { @class = "myslimSelect", id="status" })
                            <i class="ion-ios-arrow-down"></i>
                        </div>
                    </div>
                }
                <div class="add_sum">
                    <div class="form-group">
                        <label>@Resources.Resource.AddSum</label>
                        @using (Html.BeginForm("UnionInvestments", "home", new { area = "lk" }, FormMethod.Post, new { id = "form_addSum" }))
                        {
                            <input type="text" name="sum">
                            <input type="hidden" name="investments" />
                            <button type="submit" class="btn btn-grad btn-sm" form="form_addSum">
                                <span data-text="@Resources.Resource.Combine">@Resources.Resource.Combine</span>
                            </button>
                        }
                    </div>
                </div>
            </div>
            @if (Investments != null && Investments.Count() > 0)
            {

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <p class="caption">
                                    @Resources.Resource.Selection
                                </p>
                            </th>
                            <th>
                                <p class="caption">
                                    @Resources.Resource.DateCreat
                                </p>
                            </th>
                            <th>
                                <p class="caption">
                                    @Resources.Resource.DateFinish
                                </p>
                            </th>
                            <th>
                                <p class="caption">
                                    @Resources.Resource.Amount
                                </p>
                            </th>
                            <th>
                                <p class="caption">
                                    @Resources.Resource.StatusTable
                                </p>
                            </th>
                            <th>
                                <p class="caption">
                                    @Resources.Resource.Program
                                </p>
                            </th>
                            <th>
                                <p class="caption">
                                    @Resources.Resource.AutoRenewalTable
                                </p>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Investment item in ViewBag.Investments)
                        {
                            var status = item.Status;
                            switch (item.Status)
                            {
                                case "Завершен":
                                    status = Resources.Resource.Completed;
                                    break;
                                case "Активен":
                                    status = Resources.Resource.Active;
                                    break;
                            }

                            <tr>
                                <td data-text="@Resources.Resource.Selection">
                                    @if (item.Status == "Активен")
                                    {
                                        <label class="checkbox single">
                                            <input type="checkbox" id="@("check" + item.id_object)" value="@item.id_object">
                                            <label for="@("check" + item.id_object)"></label>
                                            <span></span>
                                        </label>
                                    }
                                </td>
                                <td data-text="@Resources.Resource.DateCreat">
                                    <p>@item.StartDate.Value.ToShortDateString()</p>
                                </td>
                                <td data-text="@Resources.Resource.DateFinish">
                                    <p>@item.EndDate.Value.ToShortDateString()</p>
                                </td>
                                <td data-text="@Resources.Resource.Amount">
                                    <p>$ @item.Sum.Value.ToString("N2")</p>
                                </td>
                                <td data-text="@Resources.Resource.StatusTable">
                                    @if (item.Status == "Активен")
                                    {
                                        <strong class="activen">@status</strong>
                                    }
                                    else if (item.Status == "Завершен")
                                    {
                                        <strong class="completed">@status</strong>
                                    }
                                    else
                                    {
                                        <strong>@status</strong>
                                    }
                                </td>
                                <td data-text="@Resources.Resource.Program">
                                    <p>@item.ProgramName</p>
                                </td>
                                <td data-text="@Resources.Resource.AutoRenewalTable">
                                    @if (item.Status != "Завершен")
                                    {
                                        if (item.IsProlonged ?? false)
                                        {
                                            <a href="@Url.Action("SetProlonged", new { id = item.id_object, isProlonged = false })" class="prolonged2">
                                                <i class="ion-ios-checkmark"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("SetProlonged", new { id = item.id_object, isProlonged = true })" class="prolonged1">
                                                <i class="ion-ios-square-outline"></i>
                                            </a>
                                        }
                                    }
                                </td>
                                <td class="btn_td" data-text="">
                                    <a class="subtable_btn btn btn-bordered btn-xs"><i class="ion-ios-add"></i></a>
                                </td>
                            </tr>
                            <tr class="children-table">
                                <td class="colspan" colspan="8">
                                    <div class="wrap-childTable">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <p class="caption">
                                                            @Resources.Resource.Number
                                                        </p>
                                                    </th>
                                                    <th>
                                                        <p class="caption">
                                                            @Resources.Resource.Date
                                                        </p>
                                                    </th>
                                                    @*<th>
                                                        <p class="caption">
                                                            @Resources.Resource.CurrentYield
                                                        </p>
                                                    </th>*@
                                                    <th>
                                                        <p class="caption">
                                                            @Resources.Resource.Amount
                                                        </p>
                                                    </th>
                                                    <th>
                                                        <p class="caption">
                                                            @Resources.Resource.StatusTable
                                                        </p>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    var number = 0;
                                                }
                                                @foreach (var payment in ExpectedPayments.Where(x => x.OrderId == item.id_object && x.PaymentStatus == "Оплачен").OrderBy(x => x.PaymentDate))
                                                {
                                                    var paymentStatus = payment.PaymentStatus;
                                                    switch (payment.PaymentStatus)
                                                    {
                                                        case "Оплачен":
                                                            paymentStatus = Resources.Resource.Paid;
                                                            break;
                                                        case "Не оплачен":
                                                            paymentStatus = Resources.Resource.NotPaid;
                                                            break;
                                                    }

                                                <tr>
                                                    <td data-text="@Resources.Resource.Number">
                                                        <p>@(++number)</p>
                                                    </td>
                                                    <td data-text="@Resources.Resource.Date">
                                                        <p>@payment.PaymentDate.Value.ToShortDateString()</p>
                                                    </td>
                                                    @*<td data-text="@Resources.Resource.CurrentYield">
                                                        <p></p>
                                                    </td>*@
                                                    <td data-text="@Resources.Resource.Amount">
                                                        <p>$ @payment.PaymentSum.Value.ToString("N2")</p>
                                                    </td>
                                                    <td data-text="@Resources.Resource.StatusTable">
                                                        @if (payment.PaymentStatus == "Оплачен")
                                                        {
                                                            <p class="completed">@paymentStatus</p>
                                                        }
                                                        else if (payment.PaymentStatus == "Не оплачен")
                                                        {
                                                            <p class="activen">@paymentStatus</p>
                                                        }
                                                        else
                                                        {
                                                            <p>@paymentStatus</p>
                                                        }
                                                    </td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>

            }

            @if (Terminated != null && Terminated.Count() > 0)
            {
                <h2 class="inner-title">@Resources.Resource.TerminationAgreement</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <p>@Resources.Resource.AgreementDate</p>
                            </th>
                            <th>
                                <p>@Resources.Resource.AppDateTermin</p>
                            </th>
                            <th>
                                <p>@Resources.Resource.AmoutDeal</p>
                            </th>
                            <th>
                                <p>@Resources.Resource.AmountPaid %</p>
                            </th>
                            <th>
                                <p>@Resources.Resource.AmountRefunded</p>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Terminated)
                        {
                            <tr>
                                <td data-text="@Resources.Resource.AgreementDate">
                                    <p>@item.StartDate.Value.ToShortDateString()</p>
                                </td>
                                <td data-text="@Resources.Resource.AppDateTermin">
                                    <p>@item.StatusChangedDate.Value.ToShortDateString()</p>
                                </td>
                                <td data-text="@Resources.Resource.AmoutDeal">
                                    <p>$ @item.Sum.Value.ToString("N2")</p>
                                </td>
                                <td data-text="@Resources.Resource.AmountPaid %">
                                    <p>$ @((item.SumIncome ?? 0).ToString("N2"))</p>
                                </td>
                                <td data-text="@Resources.Resource.AmountRefunded">
                                    <p>$ @item.RecalcSum.Value.ToString("N2")</p>
                                </td>
                                <td data-text="" class="text-center">
                                    <a class="btn btn-grad btn-xs btn-block m-b-5 page-link" href="@Url.Action("ConfirmTerminating", "home", new { area ="lk", investmentId  = @item.id_object} )">@Resources.Resource.Confirm</a>
                                    <a class="btn btn-bordered btn-xs btn-block page-link cancel" href="@Url.Action("CancelTerminating", "home", new { area ="lk", investmentId  = @item.id_object} )">@Resources.Resource.Cancellation</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

