@using W2W.ModelKBT.Entities
@using WayWealth.Areas.lk.Helpers

@model WayWealth.Areas.lk.ViewModels.Home.PartnersView
@{
    ViewBag.Title = Resources.Resource.MyPartnersTitle;
    Layout = "~/Areas/lk/Views/Shared/_Layout.cshtml";
    var Investments = ViewBag.Investments as IEnumerable<Investment>;
    var Partners = ViewBag.Partners as IEnumerable<Partner>;
    var PageInfo = ViewBag.PageInfo as WayWealth.Areas.lk.ViewModels.PageInfo;
}
<div class="white-bg h-100">
    <div class="container">
        <div class="partner-block">
            <h2 class="inner-title">
                @Resources.Resource.MyPartnersTitle
            </h2>
            <div class="filter-block">
                <div class="add_sum search_partner_form form-group">
                    <label>@Resources.Resource.LastnameLogin</label>
                    @using (Html.BeginForm("Partners", "Home", FormMethod.Get, new { id = "search_partner_form" }))
                    {
                        <div class="input">
                            @Html.TextBoxFor(x => x.SearchText, new { id = "searchText" })
                        </div>
                        <button type="submit" class="btn btn-grad btn-sm" form="search_partner_form">
                            @Resources.Resource.Search
                        </button>
                    }
                </div>
            </div>
            @if (Partners != null)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Resources.Resource.Number
                            </th>
                            <th>
                                @Resources.Resource.DateReg
                            </th>
                            <th>
                                @Resources.Resource.Fio
                            </th>
                            <th>
                                @Resources.Resource.Login
                            </th>
                            <th>
                                @Resources.Resource.InvestedAmount
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var numb = 0;
                        }
                        @foreach (var p in Partners)
                        {
                            <tr>
                                <td data-text="@Resources.Resource.Number">
                                    <p>@(PageInfo.PageSize * (PageInfo.PageNumber - 1) + ++numb)</p>
                                </td>
                                <td data-text="@Resources.Resource.DateReg">
                                    <p>@p.CreationDate</p>
                                </td>
                                <td data-text="@Resources.Resource.Fio">
                                    <p>@p.ObjectName</p>
                                </td>
                                <td data-text="@Resources.Resource.Login">
                                    <p>@p.Login</p>
                                </td>
                                <td data-text="@Resources.Resource.InvestedAmount">
                                    <p>$ @((p.BalanceInvestments ?? 0).ToString("N2"))</p>
                                </td>
                                <td class="btn_td">
                                    <a class="subtable_btn"></a>
                                </td>
                            </tr>

                            if (Investments.Any(x => x.PartnerId == p.id_object))
                            {
                                <tr class="children-table">
                                    <td class="colspan" colspan="6">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @Resources.Resource.DateCreat
                                                    </th>
                                                    <th>
                                                        @Resources.Resource.DateFinish
                                                    </th>
                                                    <th>
                                                        @Resources.Resource.StatusTable
                                                    </th>
                                                    <th>
                                                        @Resources.Resource.InvestAmount
                                                    </th>
                                                    <th>
                                                        @Resources.Resource.CurrentYield
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in Investments.Where(x => x.PartnerId == p.id_object).OrderBy(x => x.StartDate))
                                                {
                                                    var status = item.Status;
                                                    switch (item.Status)
                                                    {
                                                        case "Завершен":
                                                            status = Resources.Resource.Completed;
                                                            break;
                                                        case "Активен":
                                                            status = Resources.Resource.Active;
                                                            break;
                                                    }

                                                    <tr>
                                                        <td data-text="@Resources.Resource.DateCreat">
                                                            <p>@item.StartDate.Value.ToShortDateString()</p>
                                                        </td>
                                                        <td data-text="@Resources.Resource.DateFinish">
                                                            <p>@item.EndDate.Value.ToShortDateString()</p>
                                                        </td>
                                                        <td data-text="@Resources.Resource.StatusTable">
                                                            @if (item.Status == "Активен")
                                                            {
                                                                <b class="activen">@status</b>
                                                            }
                                                            else if (item.Status == "Завершен")
                                                            {
                                                                <b class="completed">@status</b>
                                                            }
                                                        </td>
                                                        <td data-text="@Resources.Resource.InvestAmount">
                                                            <p>$ @((item.Sum ?? 0).ToString("N2"))</p>
                                                        </td>
                                                        <td data-text="@Resources.Resource.CurrentYield">
                                                            <p>$ @((item.SumIncome ?? 0).ToString("N2"))</p>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>

                if (PageInfo != null && PageInfo.TotalPages > 1)
                {
                    <div style="margin-bottom: 20px;">
                        @Html.PageLinks(PageInfo, null, x => Url.Action("partners", new { page = x, SearchText = Model.SearchText }))
                    </div>
                }
            }
        </div>
    </div>
</div>
