@model IEnumerable<W2W.ModelKBT.Entities.Promo>
@{
    ViewBag.Title = Resources.Resource.PromoTitle;
    Layout = "~/Areas/lk/Views/Shared/_Layout.cshtml";
    var culture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
}
<div class="white-bg h-100">
    <div class="container">
        <div class="charity-block">
            <h2 class="inner-title">
                @Resources.Resource.PromoTitle
            </h2>
            <div class="swiper-container swiper-charity3">
                <div class="swiper-wrapper">
                    @foreach (var promo in Model)
                    {
                        <div class="swiper-slide">
                            <div class="swiper-charity-inner text-center">
                                <div class="img">
                                    <img src="@Url.Action("img", "home", new { area = "", id=promo.Image })" alt="">
                                </div>
                                <h3 class="title">
                                    @if (culture == "ru-RU")
                                    {
                                        @promo.ObjectName
                                    }
                                    else
                                    {
                                        @promo.ObjectNameEng
                                    }
                                </h3>
                                <a class="charity-dwl btn btn-grad btn-sm" href="@promo.DownloadFile" target="_Blank">
                                    <i class="ion-ios-cloud-download"></i>
                                    @Resources.Resource.Download
                                </a>
                            </div>
                        </div>
                    }
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</div>
