@model WayWealth.Areas.lk.ViewModels.Home.Transfer2View
@{
    ViewBag.Title = Resources.Resource.MoneyTransactionTitle;
    Layout = "~/Areas/lk/Views/Shared/_Layout.cshtml";
    TempData.Keep();
}
<script>
    balances = {
        "Остаток.ВнутреннийСчет": "@( TempData["Остаток.ВнутреннийСчет"])"
    };
</script>
<div class="white-bg h-100">
    <div class="container">
        <div class="perevod-block">
            <h2 class="inner-title">
                @Resources.Resource.MoneyTransactionTitle
            </h2>
            <div class="text-center m-b-20">
                <a href="@Url.Action("transfer", "home")" class="btn btn-bordered btn-sm m-r-10 m-l-10 m-b-10">@Resources.Resource.PersonalAccountBtn</a>
                <a class="btn btn-grad btn-sm m-r-10 m-l-10 m-b-10">@Resources.Resource.PartnerBtn</a>
            </div>



            <div class="text-center">
                <div class="form-group form-group-inline perevod-partner-id">
                    <label>@Resources.Resource.UsernameId</label>
                    @Html.TextBoxFor(x => x.Login, new { id = "login" })
                    <script>
                        $('#login').change(function () {
                            $('#login_hidden').val($(this).val());
                        })
                    </script>
                </div>
            </div>

            @using (Html.BeginForm("transfer2", "home", FormMethod.Post, new { id = "form_perevod", area = "lk" }))
            {
                @Html.HiddenFor(x => x.Login, new { id = "login_hidden" })
            <div class="transfer-bg-form">
                <div class="dostupno flex">
                    <p>
                        @Resources.Resource.AvailableTranslation
                    </p>
                    <b>$ <span id="reminder" class="reminder">@(Convert.ToDouble(TempData["Остаток.ВнутреннийСчет"]).ToString("N2"))</span></b>
                </div>
                <div class="flex transfer-bg-flex">
                    <div>
                        <div class="form-group">
                            <label>@Resources.Resource.Amount</label>
                            <div class="flex">
                                @Html.TextBoxFor(x => x.Sum, new { @class = "sum_input" })
                                <a class="btn btn-bordered btn-sm m-l-10  js_transfer_all_sum">
                                    <i class="ion-ios-arrow-round-back"></i>@Resources.Resource.WholeAmountBtn
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label>@Resources.Resource.FinancPass</label>
                            <div class="flex">
                                @Html.PasswordFor(x => x.Password)
                                <a class="btn btn-bordered btn-sm m-l-10" id="gentp">@Resources.Resource.GetPassBtn</a>
                            </div>
                            <div class="sms">
                                <b>@Resources.Resource.EmailRequiredSms1</b>
                                <b>@Resources.Resource.EmailRequiredSms2 <span class="timer">00:00:00</span></b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="textarea-block form-group">
                <label>@Resources.Resource.Description</label>
                @Html.TextAreaFor(x => x.Desctiption)
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-grad" form="form_perevod" id="submit_btn">
                    @Resources.Resource.TransferBtn
                </button>
            </div>
            }
        </div>
    </div>
</div>